<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/misc/explore-druid-repo/videos/01-TalkingHead.mp4</key>
	<data>
	Ym9va3ADAAAAAAQQMAAAAJHl2P+NA3VDLfibSbupAV9mOlqSJowRxPX9W/5SCA/ubAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdAQAAAABAQAAbWlzYxIAAAAB
	AQAAZXhwbG9yZS1kcnVpZC1yZXBvAAAGAAAAAQEAAHZpZGVvcwAAEgAAAAEBAAAwMS1U
	YWxraW5nSGVhZC5tcDQAACAAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAABkAAAAgAAA
	AJAAAAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAA
	AAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAABXcVQDAAAAAAgAAAAEAwAAm3FUAwAAAAAI
	AAAABAMAANhpWQMAAAAACAAAAAQDAABtdGADAAAAACAAAAABBgAA1AAAAOQAAAD0AAAA
	BAEAABQBAAAkAQAANAEAAEQBAAAIAAAAAAQAAEHETED13/QlGAAAAAECAAABAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJ
	AABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAA
	BAAAQcRAB+AAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1
	NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
	AAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACsAAAAAAAAAAUQAABUAQAAAAAAABAQ
	AACMAQAAAAAAAEAQAAB8AQAAAAAAAAIgAABYAgAAAAAAAAUgAADIAQAAAAAAABAgAADY
	AQAAAAAAABEgAAAMAgAAAAAAABIgAADsAQAAAAAAABMgAAD8AQAAAAAAACAgAAA4AgAA
	AAAAADAgAABkAgAAAAAAAAHAAACsAQAAAAAAABHAAAAgAAAAAAAAABLAAAC8AQAAAAAA
	ABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/misc/explore-druid-repo/videos/Screen Recording 2022-08-01 at 3.59.43 PM.mov</key>
	<data>
	Ym9va4wDAAAAAAQQMAAAANxnO3dw2eF2lmYlZoKm1ny17Kn8gaT8mCIjGl9ENrN0iAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdAQAAAABAQAAbWlzYxIAAAAB
	AQAAZXhwbG9yZS1kcnVpZC1yZXBvAAAGAAAAAQEAAHZpZGVvcwAALQAAAAEBAABTY3Jl
	ZW4gUmVjb3JkaW5nIDIwMjItMDgtMDEgYXQgMy41OS40MyBQTS5tb3YAAAAgAAAAAQYA
	ABAAAAAgAAAAOAAAAEgAAABYAAAAZAAAAIAAAACQAAAACAAAAAQDAAAxZAAAAAAAAAgA
	AAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAE
	AwAAV3FUAwAAAAAIAAAABAMAAJtxVAMAAAAACAAAAAQDAADYaVkDAAAAAAgAAAAEAwAA
	EZVgAwAAAAAgAAAAAQYAAPAAAAAAAQAAEAEAACABAAAwAQAAQAEAAFABAABgAQAACAAA
	AAAEAABBxExCVsWE1hgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHEQAfgAAAAJAAAAAEBAAA4RUVD
	OTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
	AAAEEAAAyAAAAAAAAAAFEAAAcAEAAAAAAAAQEAAAqAEAAAAAAABAEAAAmAEAAAAAAAAC
	IAAAdAIAAAAAAAAFIAAA5AEAAAAAAAAQIAAA9AEAAAAAAAARIAAAKAIAAAAAAAASIAAA
	CAIAAAAAAAATIAAAGAIAAAAAAAAgIAAAVAIAAAAAAAAwIAAAgAIAAAAAAAABwAAAyAEA
	AAAAAAARwAAAIAAAAAAAAAASwAAA2AEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/misc/explore-druid-repo/videos/Screen Recording 2022-08-01 at 5.31.55 PM.mov</key>
	<data>
	Ym9va4wDAAAAAAQQMAAAAEdIQIwT3cBbac68oj30t4BpI4KGryDRuh7MwcRBmIiYiAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdAQAAAABAQAAbWlzYxIAAAAB
	AQAAZXhwbG9yZS1kcnVpZC1yZXBvAAAGAAAAAQEAAHZpZGVvcwAALQAAAAEBAABTY3Jl
	ZW4gUmVjb3JkaW5nIDIwMjItMDgtMDEgYXQgNS4zMS41NSBQTS5tb3YAAAAgAAAAAQYA
	ABAAAAAgAAAAOAAAAEgAAABYAAAAZAAAAIAAAACQAAAACAAAAAQDAAAxZAAAAAAAAAgA
	AAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAE
	AwAAV3FUAwAAAAAIAAAABAMAAJtxVAMAAAAACAAAAAQDAADYaVkDAAAAAAgAAAAEAwAA
	XLxgAwAAAAAgAAAAAQYAAPAAAAAAAQAAEAEAACABAAAwAQAAQAEAAFABAABgAQAACAAA
	AAAEAABBxExNCpyT7RgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHEQAfgAAAAJAAAAAEBAAA4RUVD
	OTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
	AAAEEAAAyAAAAAAAAAAFEAAAcAEAAAAAAAAQEAAAqAEAAAAAAABAEAAAmAEAAAAAAAAC
	IAAAdAIAAAAAAAAFIAAA5AEAAAAAAAAQIAAA9AEAAAAAAAARIAAAKAIAAAAAAAASIAAA
	CAIAAAAAAAATIAAAGAIAAAAAAAAgIAAAVAIAAAAAAAAwIAAAgAIAAAAAAAABwAAAyAEA
	AAAAAAARwAAAIAAAAAAAAAASwAAA2AEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
