<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/druid-polaris-migration/videos/01-TalkingHead.mp4</key>
	<data>
	Ym9va4gDAAAAAAQQMAAAAJvtSFwU9pR/k1dk6F5HuUsIiga359g15wcQfgsr8yd4hAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABkcnVpZC1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAAEgAAAAEBAAAwMS1UYWxraW5nSGVhZC5tcDQAACAAAAABBgAAEAAA
	ACAAAAA4AAAASAAAAFgAAAB4AAAAmAAAAKgAAAAIAAAABAMAADFkAAAAAAAACAAAAAQD
	AAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAAAC
	9SUCAAAAAAgAAAAEAwAA8FhRAgAAAAAIAAAABAMAADf8XgIAAAAACAAAAAQDAABgJ2QC
	AAAAACAAAAABBgAA7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAFwBAAAIAAAAAAQA
	AEHEAwmFT+ftGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADhFRUM5N0Ew
	LUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
	AADEAAAAAAAAAAUQAABsAQAAAAAAABAQAACkAQAAAAAAAEAQAACUAQAAAAAAAAIgAABw
	AgAAAAAAAAUgAADgAQAAAAAAABAgAADwAQAAAAAAABEgAAAkAgAAAAAAABIgAAAEAgAA
	AAAAABMgAAAUAgAAAAAAACAgAABQAgAAAAAAADAgAAB8AgAAAAAAAAHAAADEAQAAAAAA
	ABHAAAAgAAAAAAAAABLAAADUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/druid-polaris-migration/videos/ReviewScript.mov</key>
	<data>
	Ym9va4QDAAAAAAQQMAAAANljFjoTzfpSb3/nUT6I4lZloToN/posPEuyUPc8ExdGgAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABkcnVpZC1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAAEAAAAAEBAABSZXZpZXdTY3JpcHQubW92IAAAAAEGAAAQAAAAIAAA
	ADgAAABIAAAAWAAAAHgAAACYAAAAqAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGL
	AAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAAL1JQIA
	AAAACAAAAAQDAADwWFECAAAAAAgAAAAEAwAAN/xeAgAAAAAIAAAABAMAALg6ZAIAAAAA
	IAAAAAEGAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEAAAgAAAAABAAAQcQD
	DKuDAOEYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAA
	AAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
	AAAABAMAAACgIGh0AAAACAAAAAAEAABBw9g5wYAAACQAAAABAQAAOEVFQzk3QTAtRjhB
	Mi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
	AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAMAA
	AAAAAAAABRAAAGgBAAAAAAAAEBAAAKABAAAAAAAAQBAAAJABAAAAAAAAAiAAAGwCAAAA
	AAAABSAAANwBAAAAAAAAECAAAOwBAAAAAAAAESAAACACAAAAAAAAEiAAAAACAAAAAAAA
	EyAAABACAAAAAAAAICAAAEwCAAAAAAAAMCAAAHgCAAAAAAAAAcAAAMABAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAANABAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/druid-polaris-migration/videos/RunningScript.mov</key>
	<data>
	Ym9va4gDAAAAAAQQMAAAABMqFZsWg8wd+s6rYKLF+TueoX8349LO5d3eU8WsDICEhAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABkcnVpZC1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAAEQAAAAEBAABSdW5uaW5nU2NyaXB0Lm1vdgAAACAAAAABBgAAEAAA
	ACAAAAA4AAAASAAAAFgAAAB4AAAAmAAAAKgAAAAIAAAABAMAADFkAAAAAAAACAAAAAQD
	AAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAAAC
	9SUCAAAAAAgAAAAEAwAA8FhRAgAAAAAIAAAABAMAADf8XgIAAAAACAAAAAQDAAAdNmQC
	AAAAACAAAAABBgAA7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAFwBAAAIAAAAAAQA
	AEHEAwvcztZUGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADhFRUM5N0Ew
	LUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
	AADEAAAAAAAAAAUQAABsAQAAAAAAABAQAACkAQAAAAAAAEAQAACUAQAAAAAAAAIgAABw
	AgAAAAAAAAUgAADgAQAAAAAAABAgAADwAQAAAAAAABEgAAAkAgAAAAAAABIgAAAEAgAA
	AAAAABMgAAAUAgAAAAAAACAgAABQAgAAAAAAADAgAAB8AgAAAAAAAAHAAADEAQAAAAAA
	ABHAAAAgAAAAAAAAABLAAADUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
