<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-metrics/videos/05 - Configuring Grafana - 20221219.mp4</key>
	<data>
	Ym9va2ADAAAAAAQQMAAAAPUztwUaRe2i5Dy4zeEkqKoHLSxEpq7K8qKiPJkkOo56XAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBQAAAABAQAAY291cnNlLWRy
	dWlkLW1ldHJpY3MGAAAAAQEAAHZpZGVvcwAAJwAAAAEBAAAwNSAtIENvbmZpZ3VyaW5n
	IEdyYWZhbmEgLSAyMDIyMTIxOS5tcDQAHAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAA
	AHQAAACEAAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALG
	EAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAJx81BAAAAAAIAAAABAMAAJvPNwQA
	AAAACAAAAAQDAADcZcsEAAAAABwAAAABBgAA2AAAAOgAAAD4AAAACAEAABgBAAAoAQAA
	OAEAAAgAAAAABAAAQcSoZQmXyi4YAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAA
	AAgAAAAEAwAABQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEB
	AABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBxFJuawAAACQAAAAB
	AQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAA
	AQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAA
	AAAAAAAQAAAABBAAALQAAAAAAAAABRAAAEgBAAAAAAAAEBAAAHwBAAAAAAAAQBAAAGwB
	AAAAAAAAAiAAAEgCAAAAAAAABSAAALgBAAAAAAAAECAAAMgBAAAAAAAAESAAAPwBAAAA
	AAAAEiAAANwBAAAAAAAAEyAAAOwBAAAAAAAAICAAACgCAAAAAAAAMCAAAFQCAAAAAAAA
	AcAAAJwBAAAAAAAAEcAAACAAAAAAAAAAEsAAAKwBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
