<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/view-polaris-data/videos/02-TalkingHead.mp4</key>
	<data>
	Ym9va4QDAAAAAAQQMAAAADfvYMfv0MEzht4UK5iIf1OLXAbz47mwf5un2ffLaYMCgAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAEQAAAAEBAAB2aWV3LXBvbGFyaXMtZGF0YQAAAAYAAAABAQAA
	dmlkZW9zAAASAAAAAQEAADAyLVRhbGtpbmdIZWFkLm1wNAAAIAAAAAEGAAAQAAAAIAAA
	ADgAAABIAAAAWAAAAHgAAACUAAAApAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGL
	AAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAAL1JQIA
	AAAACAAAAAQDAADJA4YCAAAAAAgAAAAEAwAAl3GLAgAAAAAIAAAABAMAAIoSogIAAAAA
	IAAAAAEGAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEAAAgAAAAABAAAQcQV
	a7DQlLoYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAA
	AAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
	AAAABAMAAACgIGh0AAAACAAAAAAEAABBw/d7NIAAACQAAAABAQAAOEVFQzk3QTAtRjhB
	Mi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
	AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAMAA
	AAAAAAAABRAAAGgBAAAAAAAAEBAAAKABAAAAAAAAQBAAAJABAAAAAAAAAiAAAGwCAAAA
	AAAABSAAANwBAAAAAAAAECAAAOwBAAAAAAAAESAAACACAAAAAAAAEiAAAAACAAAAAAAA
	EyAAABACAAAAAAAAICAAAEwCAAAAAAAAMCAAAHgCAAAAAAAAAcAAAMABAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAANABAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/view-polaris-data/videos/ProcessMonitor.mov</key>
	<data>
	Ym9va4QDAAAAAAQQMAAAAC+hg1NqqNKENEpKmpW59k5wRsCSxwVHEvppe0OJjOT9gAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAEQAAAAEBAAB2aWV3LXBvbGFyaXMtZGF0YQAAAAYAAAABAQAA
	dmlkZW9zAAASAAAAAQEAAFByb2Nlc3NNb25pdG9yLm1vdgAAIAAAAAEGAAAQAAAAIAAA
	ADgAAABIAAAAWAAAAHgAAACUAAAApAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGL
	AAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAAL1JQIA
	AAAACAAAAAQDAADJA4YCAAAAAAgAAAAEAwAAl3GLAgAAAAAIAAAABAMAAHKTogIAAAAA
	IAAAAAEGAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEAAAgAAAAABAAAQcQU
	wtdFBcEYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAA
	AAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
	AAAABAMAAACgIGh0AAAACAAAAAAEAABBw/d7NIAAACQAAAABAQAAOEVFQzk3QTAtRjhB
	Mi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
	AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAMAA
	AAAAAAAABRAAAGgBAAAAAAAAEBAAAKABAAAAAAAAQBAAAJABAAAAAAAAAiAAAGwCAAAA
	AAAABSAAANwBAAAAAAAAECAAAOwBAAAAAAAAESAAACACAAAAAAAAEiAAAAACAAAAAAAA
	EyAAABACAAAAAAAAICAAAEwCAAAAAAAAMCAAAHgCAAAAAAAAAcAAAMABAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAANABAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
