<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/01-install-msq/videos/01 - MSQ Framework Installation and Configuration Script.mp4</key>
	<data>
	Ym9va9QDAAAAAAQQMAAAAMpvadZ+ucLXECbwidwPrDwfdqqMnrfBaeI4ooj/FnG90AIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAAOAAAAAQEAADAxLWluc3Rh
	bGwtbXNxAAAGAAAAAQEAAHZpZGVvcwAAPAAAAAEBAAAwMSAtIE1TUSBGcmFtZXdvcmsg
	SW5zdGFsbGF0aW9uIGFuZCBDb25maWd1cmF0aW9uIFNjcmlwdC5tcDQkAAAAAQYAABAA
	AAAgAAAAOAAAAEgAAABYAAAAdAAAAIwAAACkAAAAtAAAAAgAAAAEAwAAMWQAAAAAAAAI
	AAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAA
	BAMAAG6U2gIAAAAACAAAAAQDAAC+lNoCAAAAAAgAAAAEAwAAwZTaAgAAAAAIAAAABAMA
	AN4wFwMAAAAACAAAAAQDAACsxEEDAAAAACQAAAABBgAAJAEAADQBAABEAQAAVAEAAGQB
	AAB0AQAAhAEAAJQBAACkAQAACAAAAAAEAABBxETcAc07gBgAAAABAgAAAQAAAAAAAAAP
	AAAAAAAAAAAAAAAAAAAACAAAAAQDAAAHAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAA
	ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQA
	AEHEFN/EAAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1
	NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
	BQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAA+AAAAAAAAAAFEAAAtAEAAAAAAAAQEAAA
	8AEAAAAAAABAEAAA4AEAAAAAAAACIAAAvAIAAAAAAAAFIAAALAIAAAAAAAAQIAAAPAIA
	AAAAAAARIAAAcAIAAAAAAAASIAAAUAIAAAAAAAATIAAAYAIAAAAAAAAgIAAAnAIAAAAA
	AAAwIAAAyAIAAAAAAAABwAAAEAIAAAAAAAARwAAAIAAAAAAAAAASwAAAIAIAAAAAAAAQ
	0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
