<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-metrics/videos/ClarityTourTalkingHead.mp4</key>
	<data>
	Ym9va1QDAAAAAAQQMAAAAMemF1FxptPhVfgWgnnrP9q7PBi3bW0QsX2otOtwHQ+JUAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBQAAAABAQAAY291cnNlLWRy
	dWlkLW1ldHJpY3MGAAAAAQEAAHZpZGVvcwAAGgAAAAEBAABDbGFyaXR5VG91clRhbGtp
	bmdIZWFkLm1wNAAAHAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHQAAACEAAAACAAA
	AAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQD
	AADFRhQAAAAAAAgAAAAEAwAAJx81BAAAAAAIAAAABAMAAJvPNwQAAAAACAAAAAQDAABS
	wQMFAAAAABwAAAABBgAAzAAAANwAAADsAAAA/AAAAAwBAAAcAQAALAEAAAgAAAAABAAA
	QcS46mHyOF4YAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAA
	AAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBxFJuawAAACQAAAABAQAAOEVFQzk3QTAt
	RjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAA
	AKgAAAAAAAAABRAAADwBAAAAAAAAEBAAAHABAAAAAAAAQBAAAGABAAAAAAAAAiAAADwC
	AAAAAAAABSAAAKwBAAAAAAAAECAAALwBAAAAAAAAESAAAPABAAAAAAAAEiAAANABAAAA
	AAAAEyAAAOABAAAAAAAAICAAABwCAAAAAAAAMCAAAEgCAAAAAAAAAcAAAJABAAAAAAAA
	EcAAACAAAAAAAAAAEsAAAKABAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
