<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-rollup/videos/13 - Rollup Exercise Script 1.mp4</key>
	<data>
	Ym9va6ADAAAAAAQQMAAAAOn3BeImSSPdJwnnQlf7YpNJAhOJT++CcxNAUd7oNToMnAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAABoAAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy1yb2xs
	dXAAAAYAAAABAQAAdmlkZW9zAAAhAAAAAQEAADEzIC0gUm9sbHVwIEV4ZXJjaXNlIFNj
	cmlwdCAxLm1wNAAAACAAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAAoAAAALAA
	AAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAI
	AAAABAMAAMVGFAAAAAAACAAAAAQDAAA9NRQBAAAAAAgAAAAEAwAAiytGAQAAAAAIAAAA
	BAMAAJCY5AEAAAAACAAAAAQDAAAQmOQBAAAAACAAAAABBgAABAEAABQBAAAkAQAANAEA
	AEQBAABUAQAAZAEAAHQBAAAIAAAAAAQAAEHD3hEfEGXhGAAAAAECAAABAAAAAAAAAA8A
	AAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAA
	QcPYOcGAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1
	RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADcAAAAAAAAAAUQAACEAQAAAAAAABAQAAC8
	AQAAAAAAAEAQAACsAQAAAAAAAAIgAACIAgAAAAAAAAUgAAD4AQAAAAAAABAgAAAIAgAA
	AAAAABEgAAA8AgAAAAAAABIgAAAcAgAAAAAAABMgAAAsAgAAAAAAACAgAABoAgAAAAAA
	ADAgAACUAgAAAAAAAAHAAADcAQAAAAAAABHAAAAgAAAAAAAAABLAAADsAQAAAAAAABDQ
	AAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
