<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/03 - Druid Process Flow with Logs.mp4</key>
	<data>
	Ym9va4wDAAAAAAQQMAAAAJtCtxTDdaDVD6g12GtHviBxVU0i6iWz32+rpK2MXFCRiAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAAlAAAA
	AQEAADAzIC0gRHJ1aWQgUHJvY2VzcyBGbG93IHdpdGggTG9ncy5tcDQAAAAgAAAAAQYA
	ABAAAAAgAAAAOAAAAEgAAABYAAAAdAAAAIgAAACYAAAACAAAAAQDAAAxZAAAAAAAAAgA
	AAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAE
	AwAAn7+5AwAAAAAIAAAABAMAAOUDugMAAAAACAAAAAQDAAD5qsMDAAAAAAgAAAAEAwAA
	/rX8AwAAAAAgAAAAAQYAAPAAAAAAAQAAEAEAACABAAAwAQAAQAEAAFABAABgAQAACAAA
	AAAEAABBxHpi1dp8rBgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHEUm5rAAAAJAAAAAEBAAA4RUVD
	OTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
	AAAEEAAAyAAAAAAAAAAFEAAAcAEAAAAAAAAQEAAAqAEAAAAAAABAEAAAmAEAAAAAAAAC
	IAAAdAIAAAAAAAAFIAAA5AEAAAAAAAAQIAAA9AEAAAAAAAARIAAAKAIAAAAAAAASIAAA
	CAIAAAAAAAATIAAAGAIAAAAAAAAgIAAAVAIAAAAAAAAwIAAAgAIAAAAAAAABwAAAyAEA
	AAAAAAARwAAAIAAAAAAAAAASwAAA2AEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
