<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/videos/00 - MSQ Framework Introduction Script.mp4</key>
	<data>
	Ym9va5QDAAAAAAQQMAAAAPFn1xMIWtpwy91ScTUE+/LuKvsSMjYGk5ULasu02xGWkAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAAGAAAAAQEAAHZpZGVvcwAA
	KgAAAAEBAAAwMCAtIE1TUSBGcmFtZXdvcmsgSW50cm9kdWN0aW9uIFNjcmlwdC5tcDQA
	ACAAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB0AAAAjAAAAJwAAAAIAAAABAMAADFk
	AAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAA
	AAAACAAAAAQDAABulNoCAAAAAAgAAAAEAwAAvpTaAgAAAAAIAAAABAMAAIXjCQMAAAAA
	CAAAAAQDAACexEEDAAAAACAAAAABBgAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEA
	AGgBAAAIAAAAAAQAAEHERNv/m3LbGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcQU38QAAAAkAAAA
	AQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEA
	AAAAAAAAEAAAAAQQAADQAAAAAAAAAAUQAAB4AQAAAAAAABAQAACwAQAAAAAAAEAQAACg
	AQAAAAAAAAIgAAB8AgAAAAAAAAUgAADsAQAAAAAAABAgAAD8AQAAAAAAABEgAAAwAgAA
	AAAAABIgAAAQAgAAAAAAABMgAAAgAgAAAAAAACAgAABcAgAAAAAAADAgAACIAgAAAAAA
	AAHAAADQAQAAAAAAABHAAAAgAAAAAAAAABLAAADgAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
