<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/kafka-polaris-migration/videos/00-Introduction.mp4</key>
	<data>
	Ym9va4gDAAAAAAQQMAAAACyUaqNzp+biT7Y4fZat/ysycBIlqy1IAiJjzigyH1XahAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABrYWZrYS1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAAEwAAAAEBAAAwMC1JbnRyb2R1Y3Rpb24ubXA0ACAAAAABBgAAEAAA
	ACAAAAA4AAAASAAAAFgAAAB4AAAAmAAAAKgAAAAIAAAABAMAADFkAAAAAAAACAAAAAQD
	AAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAAAC
	9SUCAAAAAAgAAAAEAwAAPs92AgAAAAAIAAAABAMAAKROlgIAAAAACAAAAAQDAADVTZYC
	AAAAACAAAAABBgAA7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAFwBAAAIAAAAAAQA
	AEHEEWtKnEU+GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcP3ezSAAAAkAAAAAQEAADhFRUM5N0Ew
	LUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
	AADEAAAAAAAAAAUQAABsAQAAAAAAABAQAACkAQAAAAAAAEAQAACUAQAAAAAAAAIgAABw
	AgAAAAAAAAUgAADgAQAAAAAAABAgAADwAQAAAAAAABEgAAAkAgAAAAAAABIgAAAEAgAA
	AAAAABMgAAAUAgAAAAAAACAgAABQAgAAAAAAADAgAAB8AgAAAAAAAAHAAADEAQAAAAAA
	ABHAAAAgAAAAAAAAABLAAADUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
