<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/03-msq-stages/videos/03-MSQEStages.mp4</key>
	<data>
	Ym9va6wDAAAAAAQQMAAAADBug1xMfJ94aPXs17FhsAnMJgd3Kt6IffZu1ubpkpimqAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAANAAAAAQEAADAzLW1zcS1z
	dGFnZXMAAAAGAAAAAQEAAHZpZGVvcwAAEQAAAAEBAAAwMy1NU1FFU3RhZ2VzLm1wNAAA
	ACQAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB0AAAAjAAAAKQAAAC0AAAACAAAAAQD
	AAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADF
	RhQAAAAAAAgAAAAEAwAAbpTaAgAAAAAIAAAABAMAAL6U2gIAAAAACAAAAAQDAABTzu0C
	AAAAAAgAAAAEAwAA+TAXAwAAAAAIAAAABAMAALRlJQMAAAAAJAAAAAEGAAD8AAAADAEA
	ABwBAAAsAQAAPAEAAEwBAABcAQAAbAEAAHwBAAAIAAAAAAQAAEHEPmRiXxqhGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
	dAAAAAgAAAAABAAAQcQU38QAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThB
	LTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADQAAAAAAAAAAUQAACM
	AQAAAAAAABAQAADIAQAAAAAAAEAQAAC4AQAAAAAAAAIgAACUAgAAAAAAAAUgAAAEAgAA
	AAAAABAgAAAUAgAAAAAAABEgAABIAgAAAAAAABIgAAAoAgAAAAAAABMgAAA4AgAAAAAA
	ACAgAAB0AgAAAAAAADAgAACgAgAAAAAAAAHAAADoAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAD4AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/03-msq-stages/videos/03-TalkingHead-2.mp4</key>
	<data>
	Ym9va6wDAAAAAAQQMAAAAJwVbWJIMicEE9OE3SkSDjPAsrqx5lcOUKyC5KU2TO5YqAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAANAAAAAQEAADAzLW1zcS1z
	dGFnZXMAAAAGAAAAAQEAAHZpZGVvcwAAFAAAAAEBAAAwMy1UYWxraW5nSGVhZC0yLm1w
	NCQAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB0AAAAjAAAAKQAAAC0AAAACAAAAAQD
	AAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADF
	RhQAAAAAAAgAAAAEAwAAbpTaAgAAAAAIAAAABAMAAL6U2gIAAAAACAAAAAQDAABTzu0C
	AAAAAAgAAAAEAwAA+TAXAwAAAAAIAAAABAMAAKz+TAMAAAAAJAAAAAEGAAD8AAAADAEA
	ABwBAAAsAQAAPAEAAEwBAABcAQAAbAEAAHwBAAAIAAAAAAQAAEHER5VWcJYMGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
	dAAAAAgAAAAABAAAQcQU38QAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThB
	LTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADQAAAAAAAAAAUQAACM
	AQAAAAAAABAQAADIAQAAAAAAAEAQAAC4AQAAAAAAAAIgAACUAgAAAAAAAAUgAAAEAgAA
	AAAAABAgAAAUAgAAAAAAABEgAABIAgAAAAAAABIgAAAoAgAAAAAAABMgAAA4AgAAAAAA
	ACAgAAB0AgAAAAAAADAgAACgAgAAAAAAAAHAAADoAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAD4AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
