<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-transform/videos/09 - talkingHead.mp4</key>
	<data>
	Ym9va5QDAAAAAAQQMAAAACoVk/8ALtiHE+hgNezBbW2wXCbY1D0kESSqaoTCm1g4kAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAB0AAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy10cmFu
	c2Zvcm0AAAAGAAAAAQEAAHZpZGVvcwAAFAAAAAEBAAAwOSAtIHRhbGtpbmdIZWFkLm1w
	NCAAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAApAAAALQAAAAIAAAABAMAADFk
	AAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAA
	AAAACAAAAAQDAAA9NRQBAAAAAAgAAAAEAwAAI7QqAQAAAAAIAAAABAMAAIiN2AEAAAAA
	CAAAAAQDAAB+fuIBAAAAACAAAAABBgAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEA
	AGgBAAAIAAAAAAQAAEHD3XfIcm3pGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAA
	AQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEA
	AAAAAAAAEAAAAAQQAADQAAAAAAAAAAUQAAB4AQAAAAAAABAQAACwAQAAAAAAAEAQAACg
	AQAAAAAAAAIgAAB8AgAAAAAAAAUgAADsAQAAAAAAABAgAAD8AQAAAAAAABEgAAAwAgAA
	AAAAABIgAAAQAgAAAAAAABMgAAAgAgAAAAAAACAgAABcAgAAAAAAADAgAACIAgAAAAAA
	AAHAAADQAQAAAAAAABHAAAAgAAAAAAAAABLAAADgAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-transform/videos/Screen Recording filter docs.mov</key>
	<data>
	Ym9va6ADAAAAAAQQMAAAALHhmNASHLlXb/jyxeq1Fgi5Hna4TVaeyx8xcfw3LK1inAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAB0AAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy10cmFu
	c2Zvcm0AAAAGAAAAAQEAAHZpZGVvcwAAIAAAAAEBAABTY3JlZW4gUmVjb3JkaW5nIGZp
	bHRlciBkb2NzLm1vdiAAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAApAAAALQA
	AAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAI
	AAAABAMAAMVGFAAAAAAACAAAAAQDAAA9NRQBAAAAAAgAAAAEAwAAI7QqAQAAAAAIAAAA
	BAMAAIiN2AEAAAAACAAAAAQDAAAKtuIBAAAAACAAAAABBgAABAEAABQBAAAkAQAANAEA
	AEQBAABUAQAAZAEAAHQBAAAIAAAAAAQAAEHD3YWES3fkGAAAAAECAAABAAAAAAAAAA8A
	AAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAA
	QcPYOcGAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1
	RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADcAAAAAAAAAAUQAACEAQAAAAAAABAQAAC8
	AQAAAAAAAEAQAACsAQAAAAAAAAIgAACIAgAAAAAAAAUgAAD4AQAAAAAAABAgAAAIAgAA
	AAAAABEgAAA8AgAAAAAAABIgAAAcAgAAAAAAABMgAAAsAgAAAAAAACAgAABoAgAAAAAA
	ADAgAACUAgAAAAAAAAHAAADcAQAAAAAAABHAAAAgAAAAAAAAABLAAADsAQAAAAAAABDQ
	AAAEAAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/videos/Intro.mp4</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAOmlGx/IIEaZINnaB3zjSLc41tVu2eznYll3Dm82q97zSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAAYAAAABAQAAdmlkZW9zAAAJAAAAAQEAAEludHJvLm1w
	NAAAABwAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAAjAAAAAgAAAAEAwAAMWQA
	AAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAA
	AAAIAAAABAMAAD01FAEAAAAACAAAAAQDAACgW7oBAAAAAAgAAAAEAwAAnDDFAQAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHDZgxQWonY
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIz
	Qi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACgAAAAAAAA
	AAUQAAA0AQAAAAAAABAQAABoAQAAAAAAAEAQAABYAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACkAQAAAAAAABAgAAC0AQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACIAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACYAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
