<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msqe-basics/msqe-quickstart/03-msqe-stages/videos/03 - MSQE Multi-Stage Ingestion Script - 20220711.mp4</key>
	<data>
	Ym9va9ADAAAAAAQQMAAAAM71dAbvuQ2r2SBbZC5JgODpEvXIa5UHXMdLizEU3gDizAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBIAAAABAQAAY291cnNlLW1z
	cWUtYmFzaWNzAAAPAAAAAQEAAG1zcWUtcXVpY2tzdGFydAAOAAAAAQEAADAzLW1zcWUt
	c3RhZ2VzAAAGAAAAAQEAAHZpZGVvcwAANQAAAAEBAAAwMyAtIE1TUUUgTXVsdGktU3Rh
	Z2UgSW5nZXN0aW9uIFNjcmlwdCAtIDIwMjIwNzExLm1wNAAAACQAAAABBgAAEAAAACAA
	AAA4AAAASAAAAFgAAAB0AAAAjAAAAKQAAAC0AAAACAAAAAQDAAAxZAAAAAAAAAgAAAAE
	AwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAA
	bpTaAgAAAAAIAAAABAMAAL6U2gIAAAAACAAAAAQDAABTzu0CAAAAAAgAAAAEAwAA+TAX
	AwAAAAAIAAAABAMAAOvjJAMAAAAAJAAAAAEGAAAgAQAAMAEAAEABAABQAQAAYAEAAHAB
	AACAAQAAkAEAAKABAAAIAAAAAAQAAEHEPkC+AvezGAAAAAECAAABAAAAAAAAAA8AAAAA
	AAAAAAAAAAAAAAAIAAAABAMAAAcAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxl
	Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcQU
	38QAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgA
	AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADM
	AAAA/v///wEAAAAAAAAAEAAAAAQQAAD0AAAAAAAAAAUQAACwAQAAAAAAABAQAADsAQAA
	AAAAAEAQAADcAQAAAAAAAAIgAAC4AgAAAAAAAAUgAAAoAgAAAAAAABAgAAA4AgAAAAAA
	ABEgAABsAgAAAAAAABIgAABMAgAAAAAAABMgAABcAgAAAAAAACAgAACYAgAAAAAAADAg
	AADEAgAAAAAAAAHAAAAMAgAAAAAAABHAAAAgAAAAAAAAABLAAAAcAgAAAAAAABDQAAAE
	AAAAAAAAAA==
	</data>
</dict>
</plist>
