<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/01-install-msq/videos/01-TalkingHead-4.mp4</key>
	<data>
	Ym9va6wDAAAAAAQQMAAAAB+HxxIg+mzJkMM+CjpZISqJ75QIAUnVVH4vRprBrMkGqAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAAOAAAAAQEAADAxLWluc3Rh
	bGwtbXNxAAAGAAAAAQEAAHZpZGVvcwAAFAAAAAEBAAAwMS1UYWxraW5nSGVhZC00Lm1w
	NCQAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB0AAAAjAAAAKQAAAC0AAAACAAAAAQD
	AAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADF
	RhQAAAAAAAgAAAAEAwAAbpTaAgAAAAAIAAAABAMAAL6U2gIAAAAACAAAAAQDAADBlNoC
	AAAAAAgAAAAEAwAA3jAXAwAAAAAIAAAABAMAALQhRAMAAAAAJAAAAAEGAAD8AAAADAEA
	ABwBAAAsAQAAPAEAAEwBAABcAQAAbAEAAHwBAAAIAAAAAAQAAEHERYYy+/z3GAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAAAAAABAAAAAMDAAD1
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
	dAAAAAgAAAAABAAAQcQU38QAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThB
	LTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADQAAAAAAAAAAUQAACM
	AQAAAAAAABAQAADIAQAAAAAAAEAQAAC4AQAAAAAAAAIgAACUAgAAAAAAAAUgAAAEAgAA
	AAAAABAgAAAUAgAAAAAAABEgAABIAgAAAAAAABIgAAAoAgAAAAAAABMgAAA4AgAAAAAA
	ACAgAAB0AgAAAAAAADAgAACgAgAAAAAAAAHAAADoAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAD4AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
