<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msqe-basics/msqe-quickstart/01-install-msqe/videos/01 - MSQE Installation Script -20220708.mp4</key>
	<data>
	Ym9va8QDAAAAAAQQMAAAADAk+SOxuajB+AWxsx6LyTocliysFi1tRiQCKmUK5zI8wAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBIAAAABAQAAY291cnNlLW1z
	cWUtYmFzaWNzAAAPAAAAAQEAAG1zcWUtcXVpY2tzdGFydAAPAAAAAQEAADAxLWluc3Rh
	bGwtbXNxZQAGAAAAAQEAAHZpZGVvcwAAKwAAAAEBAAAwMSAtIE1TUUUgSW5zdGFsbGF0
	aW9uIFNjcmlwdCAtMjAyMjA3MDgubXA0ACQAAAABBgAAEAAAACAAAAA4AAAASAAAAFgA
	AAB0AAAAjAAAAKQAAAC0AAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAI
	AAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAbpTaAgAAAAAIAAAA
	BAMAAL6U2gIAAAAACAAAAAQDAADBlNoCAAAAAAgAAAAEAwAA3jAXAwAAAAAIAAAABAMA
	AG+nHgMAAAAAJAAAAAEGAAAUAQAAJAEAADQBAABEAQAAVAEAAGQBAAB0AQAAhAEAAJQB
	AAAIAAAAAAQAAEHEPDrbZ8tfGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
	AAAABAMAAAcAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
	TWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcQU38QAAAAkAAAAAQEA
	ADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAA
	AAAAEAAAAAQQAADoAAAAAAAAAAUQAACkAQAAAAAAABAQAADgAQAAAAAAAEAQAADQAQAA
	AAAAAAIgAACsAgAAAAAAAAUgAAAcAgAAAAAAABAgAAAsAgAAAAAAABEgAABgAgAAAAAA
	ABIgAABAAgAAAAAAABMgAABQAgAAAAAAACAgAACMAgAAAAAAADAgAAC4AgAAAAAAAAHA
	AAAAAgAAAAAAABHAAAAgAAAAAAAAABLAAAAQAgAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
