<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-intro/videos/01 - Intro Exercise 1 Script.mp4</key>
	<data>
	Ym9va5wDAAAAAAQQMAAAAGhXpCpq2HkwT1netWh/TMT0wCTZbNRMs8VvQ5YeNbZNmAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAABkAAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy1pbnRy
	bwAAAAYAAAABAQAAdmlkZW9zAAAgAAAAAQEAADAxIC0gSW50cm8gRXhlcmNpc2UgMSBT
	Y3JpcHQubXA0IAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHwAAACgAAAAsAAAAAgA
	AAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAE
	AwAAxUYUAAAAAAAIAAAABAMAAD01FAEAAAAACAAAAAQDAACDUBQBAAAAAAgAAAAEAwAA
	c0TBAQAAAAAIAAAABAMAACNEwQEAAAAAIAAAAAEGAAAAAQAAEAEAACABAAAwAQAAQAEA
	AFABAABgAQAAcAEAAAgAAAAABAAAQcPQ1QXfRk8YAAAAAQIAAAEAAAAAAAAADwAAAAAA
	AAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
	Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw46Q
	7wAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAA
	AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwA
	AAD+////AQAAAAAAAAAQAAAABBAAANgAAAAAAAAABRAAAIABAAAAAAAAEBAAALgBAAAA
	AAAAQBAAAKgBAAAAAAAAAiAAAIQCAAAAAAAABSAAAPQBAAAAAAAAECAAAAQCAAAAAAAA
	ESAAADgCAAAAAAAAEiAAABgCAAAAAAAAEyAAACgCAAAAAAAAICAAAGQCAAAAAAAAMCAA
	AJACAAAAAAAAAcAAANgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAOgBAAAAAAAAENAAAAQA
	AAAAAAAA
	</data>
</dict>
</plist>
