<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/02-TalkingHead.mp4</key>
	<data>
	Ym9va3gDAAAAAAQQMAAAAJ/tTS6nNmzv+lqVt6rDqht4Hjw3Gp37AEvgqbxNA1vkdAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAASAAAA
	AQEAADAyLVRhbGtpbmdIZWFkLm1wNAAAIAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAA
	AHQAAACIAAAAmAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQD
	AAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAJ+/uQMAAAAACAAAAAQDAADl
	A7oDAAAAAAgAAAAEAwAA+arDAwAAAAAIAAAABAMAADBXCgQAAAAAIAAAAAEGAADcAAAA
	7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAAgAAAAABAAAQcR8700CezgYAAAAAQIA
	AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0
	AAAACAAAAAAEAABBxFJuawAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEt
	MkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAFwB
	AAAAAAAAEBAAAJQBAAAAAAAAQBAAAIQBAAAAAAAAAiAAAGACAAAAAAAABSAAANABAAAA
	AAAAECAAAOABAAAAAAAAESAAABQCAAAAAAAAEiAAAPQBAAAAAAAAEyAAAAQCAAAAAAAA
	ICAAAEACAAAAAAAAMCAAAGwCAAAAAAAAAcAAALQBAAAAAAAAEcAAACAAAAAAAAAAEsAA
	AMQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
