<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/kafka-polaris-migration/videos/05-ConnectKafkaToPolaris.mp4</key>
	<data>
	Ym9va5ADAAAAAAQQMAAAAFMaII9Uk6PROmWu8Va4ZoZIQ/Ka3eZ6ZqdsQlH/v10fjAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABrYWZrYS1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAAHAAAAAEBAAAwNS1Db25uZWN0S2Fma2FUb1BvbGFyaXMubXA0IAAA
	AAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHgAAACYAAAAqAAAAAgAAAAEAwAAMWQAAAAA
	AAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAI
	AAAABAMAAAL1JQIAAAAACAAAAAQDAAA+z3YCAAAAAAgAAAAEAwAApE6WAgAAAAAIAAAA
	BAMAAC5OlgIAAAAAIAAAAAEGAAD0AAAABAEAABQBAAAkAQAANAEAAEQBAABUAQAAZAEA
	AAgAAAAABAAAQcQRa1qCD3kYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw/d7NIAAACQAAAABAQAA
	OEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAA
	AAAQAAAABBAAAMwAAAAAAAAABRAAAHQBAAAAAAAAEBAAAKwBAAAAAAAAQBAAAJwBAAAA
	AAAAAiAAAHgCAAAAAAAABSAAAOgBAAAAAAAAECAAAPgBAAAAAAAAESAAACwCAAAAAAAA
	EiAAAAwCAAAAAAAAEyAAABwCAAAAAAAAICAAAFgCAAAAAAAAMCAAAIQCAAAAAAAAAcAA
	AMwBAAAAAAAAEcAAACAAAAAAAAAAEsAAANwBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
