<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/04-TalkingHead.mp4</key>
	<data>
	Ym9va3gDAAAAAAQQMAAAAPUNNBCeFod2AM5ZXOQR5Igtx45RXtkrSqP822Sn9DOvdAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAASAAAA
	AQEAADA0LVRhbGtpbmdIZWFkLm1wNAAAIAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAA
	AHQAAACIAAAAmAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQD
	AAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAJ+/uQMAAAAACAAAAAQDAADl
	A7oDAAAAAAgAAAAEAwAA+arDAwAAAAAIAAAABAMAAPl5EAQAAAAAIAAAAAEGAADcAAAA
	7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAAgAAAAABAAAQcR+5tAD/ZQYAAAAAQIA
	AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0
	AAAACAAAAAAEAABBxFJuawAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEt
	MkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAFwB
	AAAAAAAAEBAAAJQBAAAAAAAAQBAAAIQBAAAAAAAAAiAAAGACAAAAAAAABSAAANABAAAA
	AAAAECAAAOABAAAAAAAAESAAABQCAAAAAAAAEiAAAPQBAAAAAAAAEyAAAAQCAAAAAAAA
	ICAAAEACAAAAAAAAMCAAAGwCAAAAAAAAAcAAALQBAAAAAAAAEcAAACAAAAAAAAAAEsAA
	AMQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/ScrollTaskLog.mov</key>
	<data>
	Ym9va3gDAAAAAAQQMAAAAKTGD0kHWiVSVA9fZm96niGniZzV9W7cBqC4NVtgFVMRdAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAARAAAA
	AQEAAFNjcm9sbFRhc2tMb2cubW92AAAAIAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAA
	AHQAAACIAAAAmAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQD
	AAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAJ+/uQMAAAAACAAAAAQDAADl
	A7oDAAAAAAgAAAAEAwAA+arDAwAAAAAIAAAABAMAAFBIEwQAAAAAIAAAAAEGAADcAAAA
	7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAAgAAAAABAAAQcR/hOUtE/gYAAAAAQIA
	AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0
	AAAACAAAAAAEAABBxFJuawAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEt
	MkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAFwB
	AAAAAAAAEBAAAJQBAAAAAAAAQBAAAIQBAAAAAAAAAiAAAGACAAAAAAAABSAAANABAAAA
	AAAAECAAAOABAAAAAAAAESAAABQCAAAAAAAAEiAAAPQBAAAAAAAAEyAAAAQCAAAAAAAA
	ICAAAEACAAAAAAAAMCAAAGwCAAAAAAAAAcAAALQBAAAAAAAAEcAAACAAAAAAAAAAEsAA
	AMQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/stack trace.mov</key>
	<data>
	Ym9va3QDAAAAAAQQMAAAAEORNzBuguaTSC0leZrwOZLd6neHuRRFz9YTAyNQgKW2cAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAAPAAAA
	AQEAAHN0YWNrIHRyYWNlLm1vdgAgAAAAAQYAABAAAAAgAAAAOAAAAEgAAABYAAAAdAAA
	AIgAAACYAAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALG
	EAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAn7+5AwAAAAAIAAAABAMAAOUDugMA
	AAAACAAAAAQDAAD5qsMDAAAAAAgAAAAEAwAABSsRBAAAAAAgAAAAAQYAANgAAADoAAAA
	+AAAAAgBAAAYAQAAKAEAADgBAABIAQAACAAAAAAEAABBxH8HuOGDkxgAAAABAgAAAQAA
	AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgA
	AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAI
	AAAAAAQAAEHEUm5rAAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUz
	NjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
	AAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAsAAAAAAAAAAFEAAAWAEAAAAA
	AAAQEAAAkAEAAAAAAABAEAAAgAEAAAAAAAACIAAAXAIAAAAAAAAFIAAAzAEAAAAAAAAQ
	IAAA3AEAAAAAAAARIAAAEAIAAAAAAAASIAAA8AEAAAAAAAATIAAAAAIAAAAAAAAgIAAA
	PAIAAAAAAAAwIAAAaAIAAAAAAAABwAAAsAEAAAAAAAARwAAAIAAAAAAAAAASwAAAwAEA
	AAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
