<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/05-TalkingHead.mp4</key>
	<data>
	Ym9va3gDAAAAAAQQMAAAAEd7mRrbH+91FeqX3kb/mEw6KRtL9/s6ldf9eu3dcHJRdAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAASAAAA
	AQEAADA1LVRhbGtpbmdIZWFkLm1wNAAAIAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAA
	AHQAAACIAAAAmAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQD
	AAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAJ+/uQMAAAAACAAAAAQDAADl
	A7oDAAAAAAgAAAAEAwAA+arDAwAAAAAIAAAABAMAACYUFAQAAAAAIAAAAAEGAADcAAAA
	7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAAgAAAAABAAAQcR/qlObwSQYAAAAAQIA
	AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0
	AAAACAAAAAAEAABBxFJuawAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEt
	MkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAFwB
	AAAAAAAAEBAAAJQBAAAAAAAAQBAAAIQBAAAAAAAAAiAAAGACAAAAAAAABSAAANABAAAA
	AAAAECAAAOABAAAAAAAAESAAABQCAAAAAAAAEiAAAPQBAAAAAAAAEyAAAAQCAAAAAAAA
	ICAAAEACAAAAAAAAMCAAAGwCAAAAAAAAAcAAALQBAAAAAAAAEcAAACAAAAAAAAAAEsAA
	AMQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
