<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/clickhouse-polaris-migration/videos/00 - Introduction to Clickhouse to Polaris Migration Script.mp4</key>
	<data>
	Ym9va7gDAAAAAAQQMAAAAD8ognwKR+GDi7cJbnixA4W3XPRCO9iyLKzi8IW0xuhutAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAHAAAAAEBAABjbGlja2hvdXNlLXBvbGFyaXMtbWlncmF0aW9u
	BgAAAAEBAAB2aWRlb3MAAD8AAAABAQAAMDAgLSBJbnRyb2R1Y3Rpb24gdG8gQ2xpY2to
	b3VzZSB0byBQb2xhcmlzIE1pZ3JhdGlvbiBTY3JpcHQubXA0ACAAAAABBgAAEAAAACAA
	AAA4AAAASAAAAFgAAAB4AAAAnAAAAKwAAAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAh
	iwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAAAC9SUC
	AAAAAAgAAAAEAwAAs/glAgAAAAAIAAAABAMAAJk2MwIAAAAACAAAAAQDAAAhNTMCAAAA
	ACAAAAABBgAAHAEAACwBAAA8AQAATAEAAFwBAABsAQAAfAEAAIwBAAAIAAAAAAQAAEHD
	9eh1JDQgGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
	CAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADhFRUM5N0EwLUY4
	QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAD0
	AAAAAAAAAAUQAACcAQAAAAAAABAQAADUAQAAAAAAAEAQAADEAQAAAAAAAAIgAACgAgAA
	AAAAAAUgAAAQAgAAAAAAABAgAAAgAgAAAAAAABEgAABUAgAAAAAAABIgAAA0AgAAAAAA
	ABMgAABEAgAAAAAAACAgAACAAgAAAAAAADAgAACsAgAAAAAAAAHAAAD0AQAAAAAAABHA
	AAAgAAAAAAAAABLAAAAEAgAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
