<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/01-install-msq/videos/01 - MSQ Framework Installation and Configuration Script -20220722.mp4</key>
	<data>
	Ym9va+ADAAAAAAQQMAAAAOZX/oqdccdsyHox4bzPNdh0h/FIIFzWdZ6wc4unvlHw3AIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAAOAAAAAQEAADAxLWluc3Rh
	bGwtbXNxAAAGAAAAAQEAAHZpZGVvcwAARgAAAAEBAAAwMSAtIE1TUSBGcmFtZXdvcmsg
	SW5zdGFsbGF0aW9uIGFuZCBDb25maWd1cmF0aW9uIFNjcmlwdCAtMjAyMjA3MjIubXA0
	AAAkAAAAAQYAABAAAAAgAAAAOAAAAEgAAABYAAAAdAAAAIwAAACkAAAAtAAAAAgAAAAE
	AwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAA
	xUYUAAAAAAAIAAAABAMAAG6U2gIAAAAACAAAAAQDAAC+lNoCAAAAAAgAAAAEAwAAwZTa
	AgAAAAAIAAAABAMAAN4wFwMAAAAACAAAAAQDAACICEQDAAAAACQAAAABBgAAMAEAAEAB
	AABQAQAAYAEAAHABAACAAQAAkAEAAKABAACwAQAACAAAAAAEAABBxEV/g3ZLlBgAAAAB
	AgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAHAAAAAAAAAAQAAAADAwAA
	9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAg
	aHQAAAAIAAAAAAQAAEHEFN/EAAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4
	QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
	AQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAABAEAAAAAAAAFEAAA
	wAEAAAAAAAAQEAAA/AEAAAAAAABAEAAA7AEAAAAAAAACIAAAyAIAAAAAAAAFIAAAOAIA
	AAAAAAAQIAAASAIAAAAAAAARIAAAfAIAAAAAAAASIAAAXAIAAAAAAAATIAAAbAIAAAAA
	AAAgIAAAqAIAAAAAAAAwIAAA1AIAAAAAAAABwAAAHAIAAAAAAAARwAAAIAAAAAAAAAAS
	wAAALAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
