<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/00 - Logs Intro Script.mp4</key>
	<data>
	Ym9va4ADAAAAAAQQMAAAANkcqDXmVFgqgLkc40nZu/0joCh9Vu8mATYWSJFKjrhQfAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAAaAAAA
	AQEAADAwIC0gTG9ncyBJbnRybyBTY3JpcHQubXA0AAAgAAAAAQYAABAAAAAgAAAAOAAA
	AEgAAABYAAAAdAAAAIgAAACYAAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAA
	AAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAn7+5AwAAAAAI
	AAAABAMAAOUDugMAAAAACAAAAAQDAAD5qsMDAAAAAAgAAAAEAwAAdbX8AwAAAAAgAAAA
	AQYAAOQAAAD0AAAABAEAABQBAAAkAQAANAEAAEQBAABUAQAACAAAAAAEAABBxHpiwYyb
	gxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQA
	AAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAAKAgaHQAAAAIAAAAAAQAAEHEUm5rAAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRC
	M0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAvAAAAAAA
	AAAFEAAAZAEAAAAAAAAQEAAAnAEAAAAAAABAEAAAjAEAAAAAAAACIAAAaAIAAAAAAAAF
	IAAA2AEAAAAAAAAQIAAA6AEAAAAAAAARIAAAHAIAAAAAAAASIAAA/AEAAAAAAAATIAAA
	DAIAAAAAAAAgIAAASAIAAAAAAAAwIAAAdAIAAAAAAAABwAAAvAEAAAAAAAARwAAAIAAA
	AAAAAAASwAAAzAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
