<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-intro/videos/01-talkingHeadUpdate.mp4</key>
	<data>
	Ym9va5QDAAAAAAQQMAAAAKYZ58yLGMH/zN8L5DQJyJLHtZWSY0m7fnHWvmTvsF6JkAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAABkAAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy1pbnRy
	bwAAAAYAAAABAQAAdmlkZW9zAAAYAAAAAQEAADAxLXRhbGtpbmdIZWFkVXBkYXRlLm1w
	NCAAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAAoAAAALAAAAAIAAAABAMAADFk
	AAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAA
	AAAACAAAAAQDAAA9NRQBAAAAAAgAAAAEAwAAg1AUAQAAAAAIAAAABAMAAHNEwQEAAAAA
	CAAAAAQDAAB0UtoBAAAAACAAAAABBgAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEA
	AGgBAAAIAAAAAAQAAEHD2sOCTToHGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPN9ncAAAAkAAAA
	AQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEA
	AAAAAAAAEAAAAAQQAADQAAAAAAAAAAUQAAB4AQAAAAAAABAQAACwAQAAAAAAAEAQAACg
	AQAAAAAAAAIgAAB8AgAAAAAAAAUgAADsAQAAAAAAABAgAAD8AQAAAAAAABEgAAAwAgAA
	AAAAABIgAAAQAgAAAAAAABMgAAAgAgAAAAAAACAgAABcAgAAAAAAADAgAACIAgAAAAAA
	AAHAAADQAQAAAAAAABHAAAAgAAAAAAAAABLAAADgAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-intro/videos/talkingHead.mp4</key>
	<data>
	Ym9va4wDAAAAAAQQMAAAAOeQvy2m7ONuMlLe+z+eq64qGrkDKbzK0ADcuqaD+RhMiAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAABkAAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy1pbnRy
	bwAAAAYAAAABAQAAdmlkZW9zAAAPAAAAAQEAAHRhbGtpbmdIZWFkLm1wNAAgAAAAAQYA
	ABAAAAAgAAAAOAAAAEgAAABYAAAAfAAAAKAAAACwAAAACAAAAAQDAAAxZAAAAAAAAAgA
	AAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAE
	AwAAPTUUAQAAAAAIAAAABAMAAINQFAEAAAAACAAAAAQDAABzRMEBAAAAAAgAAAAEAwAA
	J1fBAQAAAAAgAAAAAQYAAPAAAAAAAQAAEAEAACABAAAwAQAAQAEAAFABAABgAQAACAAA
	AAAEAABBw9DYq9e1qRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHDjpDvAAAAJAAAAAEBAAA4RUVD
	OTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
	AAAEEAAAyAAAAAAAAAAFEAAAcAEAAAAAAAAQEAAAqAEAAAAAAABAEAAAmAEAAAAAAAAC
	IAAAdAIAAAAAAAAFIAAA5AEAAAAAAAAQIAAA9AEAAAAAAAARIAAAKAIAAAAAAAASIAAA
	CAIAAAAAAAATIAAAGAIAAAAAAAAgIAAAVAIAAAAAAAAwIAAAgAIAAAAAAAABwAAAyAEA
	AAAAAAARwAAAIAAAAAAAAAASwAAA2AEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/videos/Intro.mp4</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAPdNEmvR9uxcrCpT/SuofAO5i/X53AfBgv7lbwbdHRnUSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAAYAAAABAQAAdmlkZW9zAAAJAAAAAQEAAEludHJvLm1w
	NAAAABwAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAAjAAAAAgAAAAEAwAAMWQA
	AAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAA
	AAAIAAAABAMAAD01FAEAAAAACAAAAAQDAACgW7oBAAAAAAgAAAAEAwAAmr6+AQAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHDZgxQWonY
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIz
	Qi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACgAAAAAAAA
	AAUQAAA0AQAAAAAAABAQAABoAQAAAAAAAEAQAABYAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACkAQAAAAAAABAgAAC0AQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACIAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACYAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
