<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-intro/videos/01-talkingHead.mp4</key>
	<data>
	Ym9va5ADAAAAAAQQMAAAADSAl2ELYGXnAVFVEh3UBEgAZMqFcA+g89cIDEvo+qijjAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAABkAAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy1pbnRy
	bwAAAAYAAAABAQAAdmlkZW9zAAASAAAAAQEAADAxLXRhbGtpbmdIZWFkLm1wNAAAIAAA
	AAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHwAAACgAAAAsAAAAAgAAAAEAwAAMWQAAAAA
	AAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAI
	AAAABAMAAD01FAEAAAAACAAAAAQDAACDUBQBAAAAAAgAAAAEAwAAc0TBAQAAAAAIAAAA
	BAMAACdXwQEAAAAAIAAAAAEGAAD0AAAABAEAABQBAAAkAQAANAEAAEQBAABUAQAAZAEA
	AAgAAAAABAAAQcPQ2KvXtakYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw832dwAAACQAAAABAQAA
	OEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAA
	AAAQAAAABBAAAMwAAAAAAAAABRAAAHQBAAAAAAAAEBAAAKwBAAAAAAAAQBAAAJwBAAAA
	AAAAAiAAAHgCAAAAAAAABSAAAOgBAAAAAAAAECAAAPgBAAAAAAAAESAAACwCAAAAAAAA
	EiAAAAwCAAAAAAAAEyAAABwCAAAAAAAAICAAAFgCAAAAAAAAMCAAAIQCAAAAAAAAAcAA
	AMwBAAAAAAAAEcAAACAAAAAAAAAAEsAAANwBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
