<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/01-TalkingHead.mp4</key>
	<data>
	Ym9va3gDAAAAAAQQMAAAANJ95xSnmkJVhFzrBlUsqNPvI6JncWj49GtxiwHU78J7dAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAASAAAA
	AQEAADAxLVRhbGtpbmdIZWFkLm1wNAAAIAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAA
	AHQAAACIAAAAmAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQD
	AAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAJ+/uQMAAAAACAAAAAQDAADl
	A7oDAAAAAAgAAAAEAwAA+arDAwAAAAAIAAAABAMAAMOiBAQAAAAAIAAAAAEGAADcAAAA
	7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAAgAAAAABAAAQcR7lLrOSwwYAAAAAQIA
	AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0
	AAAACAAAAAAEAABBxFJuawAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEt
	MkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAALQAAAAAAAAABRAAAFwB
	AAAAAAAAEBAAAJQBAAAAAAAAQBAAAIQBAAAAAAAAAiAAAGACAAAAAAAABSAAANABAAAA
	AAAAECAAAOABAAAAAAAAESAAABQCAAAAAAAAEiAAAPQBAAAAAAAAEyAAAAQCAAAAAAAA
	ICAAAEACAAAAAAAAMCAAAGwCAAAAAAAAAcAAALQBAAAAAAAAEcAAACAAAAAAAAAAEsAA
	AMQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/task log.mov</key>
	<data>
	Ym9va3ADAAAAAAQQMAAAAC53jXzMmhB+GPuQ7oLt+Z1Ok1gMXr+WKbl1UYqOy5RqbAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAAMAAAA
	AQEAAHRhc2sgbG9nLm1vdiAAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB0AAAAiAAA
	AJgAAAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAA
	AAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAACfv7kDAAAAAAgAAAAEAwAA5QO6AwAAAAAI
	AAAABAMAAPmqwwMAAAAACAAAAAQDAADNNQUEAAAAACAAAAABBgAA1AAAAOQAAAD0AAAA
	BAEAABQBAAAkAQAANAEAAEQBAAAIAAAAAAQAAEHEe7WB+NN2GAAAAAECAAABAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJ
	AABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAA
	BAAAQcRSbmsAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1
	NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
	AAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACsAAAAAAAAAAUQAABUAQAAAAAAABAQ
	AACMAQAAAAAAAEAQAAB8AQAAAAAAAAIgAABYAgAAAAAAAAUgAADIAQAAAAAAABAgAADY
	AQAAAAAAABEgAAAMAgAAAAAAABIgAADsAQAAAAAAABMgAAD8AQAAAAAAACAgAAA4AgAA
	AAAAADAgAABkAgAAAAAAAAHAAACsAQAAAAAAABHAAAAgAAAAAAAAABLAAAC8AQAAAAAA
	ABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
