<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/druid-polaris-migration/videos/01 - Create Druid Data Script.mp4</key>
	<data>
	Ym9va5gDAAAAAAQQMAAAANA8Zej1MmIGfqO+bCp+kaeroKS1x1VKcpIhOmnHY2jClAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABkcnVpZC1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAAIQAAAAEBAAAwMSAtIENyZWF0ZSBEcnVpZCBEYXRhIFNjcmlwdC5t
	cDQAAAAgAAAAAQYAABAAAAAgAAAAOAAAAEgAAABYAAAAeAAAAJgAAACoAAAACAAAAAQD
	AAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADF
	RhQAAAAAAAgAAAAEAwAAAvUlAgAAAAAIAAAABAMAAPBYUQIAAAAACAAAAAQDAAA3/F4C
	AAAAAAgAAAAEAwAAGEphAgAAAAAgAAAAAQYAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEA
	AFwBAABsAQAACAAAAAAEAABBxALlMRyfpxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHD2DnBgAAA
	JAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAAfAEAAAAAAAAQEAAAtAEAAAAAAABA
	EAAApAEAAAAAAAACIAAAgAIAAAAAAAAFIAAA8AEAAAAAAAAQIAAAAAIAAAAAAAARIAAA
	NAIAAAAAAAASIAAAFAIAAAAAAAATIAAAJAIAAAAAAAAgIAAAYAIAAAAAAAAwIAAAjAIA
	AAAAAAABwAAA1AEAAAAAAAARwAAAIAAAAAAAAAASwAAA5AEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
</dict>
</plist>
