<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-dimensions/videos/10 - dimensionSpec Exercise Script 1.mp4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAI7UPeKm63mfFbpLJbqoI3uTotDR50cmJepXuRCu6m+KpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAB4AAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy1kaW1l
	bnNpb25zAAAGAAAAAQEAAHZpZGVvcwAAKAAAAAEBAAAxMCAtIGRpbWVuc2lvblNwZWMg
	RXhlcmNpc2UgU2NyaXB0IDEubXA0IAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHwA
	AACkAAAAtAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAAC
	xhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAD01FAEAAAAACAAAAAQDAAABzTcB
	AAAAAAgAAAAEAwAAmlu6AQAAAAAIAAAABAMAAEKW5AEAAAAAIAAAAAEGAAAMAQAAHAEA
	ACwBAAA8AQAATAEAAFwBAABsAQAAfAEAAAgAAAAABAAAQcPeELebZZAYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAA
	CAAAAAAEAABBw9g5wYAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJF
	MzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAOQAAAAAAAAABRAAAIwBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
