<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-segments/videos/16 - Segment Management Script 1.mp4</key>
	<data>
	Ym9va6ADAAAAAAQQMAAAANKcAgfPPOK3mY9Nu6s9lMx+XlXG2g1xGl+VujFggd+rnAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAABwAAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy1zZWdt
	ZW50cwYAAAABAQAAdmlkZW9zAAAkAAAAAQEAADE2IC0gU2VnbWVudCBNYW5hZ2VtZW50
	IFNjcmlwdCAxLm1wNCAAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAAoAAAALAA
	AAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAI
	AAAABAMAAMVGFAAAAAAACAAAAAQDAAA9NRQBAAAAAAgAAAAEAwAA5dqGAQAAAAAIAAAA
	BAMAAA2Z5AEAAAAACAAAAAQDAAAvmOQBAAAAACAAAAABBgAABAEAABQBAAAkAQAANAEA
	AEQBAABUAQAAZAEAAHQBAAAIAAAAAAQAAEHD3hEm2cwUGAAAAAECAAABAAAAAAAAAA8A
	AAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAA
	QcPYOcGAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1
	RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADcAAAAAAAAAAUQAACEAQAAAAAAABAQAAC8
	AQAAAAAAAEAQAACsAQAAAAAAAAIgAACIAgAAAAAAAAUgAAD4AQAAAAAAABAgAAAIAgAA
	AAAAABEgAAA8AgAAAAAAABIgAAAcAgAAAAAAABMgAAAsAgAAAAAAACAgAABoAgAAAAAA
	ADAgAACUAgAAAAAAAAHAAADcAQAAAAAAABHAAAAgAAAAAAAAABLAAADsAQAAAAAAABDQ
	AAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
