<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-transform/videos/Screen Recording Transform docs.mov</key>
	<data>
	Ym9va6QDAAAAAAQQMAAAAOqJZtwBYJ5687aZbbwB14tE2kxTrk1AYsNK61dXckfboAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAB0AAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy10cmFu
	c2Zvcm0AAAAGAAAAAQEAAHZpZGVvcwAAIwAAAAEBAABTY3JlZW4gUmVjb3JkaW5nIFRy
	YW5zZm9ybSBkb2NzLm1vdgAgAAAAAQYAABAAAAAgAAAAOAAAAEgAAABYAAAAfAAAAKQA
	AAC0AAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAA
	AAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAPTUUAQAAAAAIAAAABAMAACO0KgEAAAAA
	CAAAAAQDAACIjdgBAAAAAAgAAAAEAwAAb+/YAQAAAAAgAAAAAQYAAAgBAAAYAQAAKAEA
	ADgBAABIAQAAWAEAAGgBAAB4AQAACAAAAAAEAABBw9ow3onAWBgAAAABAgAAAQAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAA
	AAQAAEHDzfZ3AAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIw
	NTc1NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAA4AAAAAAAAAAFEAAAiAEAAAAAAAAQ
	EAAAwAEAAAAAAABAEAAAsAEAAAAAAAACIAAAjAIAAAAAAAAFIAAA/AEAAAAAAAAQIAAA
	DAIAAAAAAAARIAAAQAIAAAAAAAASIAAAIAIAAAAAAAATIAAAMAIAAAAAAAAgIAAAbAIA
	AAAAAAAwIAAAmAIAAAAAAAABwAAA4AEAAAAAAAARwAAAIAAAAAAAAAASwAAA8AEAAAAA
	AAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
