<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/view-polaris-data/videos/00-TalkingHead.mp4</key>
	<data>
	Ym9va4QDAAAAAAQQMAAAADvXsaC9KoG21RPWPiwDWm7sK84/eM3ZR/MhqP8uLQ1vgAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAEQAAAAEBAAB2aWV3LXBvbGFyaXMtZGF0YQAAAAYAAAABAQAA
	dmlkZW9zAAASAAAAAQEAADAwLVRhbGtpbmdIZWFkLm1wNAAAIAAAAAEGAAAQAAAAIAAA
	ADgAAABIAAAAWAAAAHgAAACUAAAApAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGL
	AAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAAL1JQIA
	AAAACAAAAAQDAADJA4YCAAAAAAgAAAAEAwAAl3GLAgAAAAAIAAAABAMAAMoSogIAAAAA
	IAAAAAEGAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEAAAgAAAAABAAAQcQV
	a8j569IYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAA
	AAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
	AAAABAMAAACgIGh0AAAACAAAAAAEAABBw/d7NIAAACQAAAABAQAAOEVFQzk3QTAtRjhB
	Mi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
	AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAMAA
	AAAAAAAABRAAAGgBAAAAAAAAEBAAAKABAAAAAAAAQBAAAJABAAAAAAAAAiAAAGwCAAAA
	AAAABSAAANwBAAAAAAAAECAAAOwBAAAAAAAAESAAACACAAAAAAAAEiAAAAACAAAAAAAA
	EyAAABACAAAAAAAAICAAAEwCAAAAAAAAMCAAAHgCAAAAAAAAAcAAAMABAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAANABAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
