<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/druid-polaris-migration/videos/00 - Introduction Script.mp4</key>
	<data>
	Ym9va5ADAAAAAAQQMAAAAEHl7t5I4rs82O87onRtklDU677vtgzKxFZKYRxMpGTmjAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABkcnVpZC1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAAHAAAAAEBAAAwMCAtIEludHJvZHVjdGlvbiBTY3JpcHQubXA0IAAA
	AAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHgAAACYAAAAqAAAAAgAAAAEAwAAMWQAAAAA
	AAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAI
	AAAABAMAAAL1JQIAAAAACAAAAAQDAADwWFECAAAAAAgAAAAEAwAAN/xeAgAAAAAIAAAA
	BAMAAANKYQIAAAAAIAAAAAEGAAD0AAAABAEAABQBAAAkAQAANAEAAEQBAABUAQAAZAEA
	AAgAAAAABAAAQcQC5SxkcbEYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw9g5wYAAACQAAAABAQAA
	OEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAA
	AAAQAAAABBAAAMwAAAAAAAAABRAAAHQBAAAAAAAAEBAAAKwBAAAAAAAAQBAAAJwBAAAA
	AAAAAiAAAHgCAAAAAAAABSAAAOgBAAAAAAAAECAAAPgBAAAAAAAAESAAACwCAAAAAAAA
	EiAAAAwCAAAAAAAAEyAAABwCAAAAAAAAICAAAFgCAAAAAAAAMCAAAIQCAAAAAAAAAcAA
	AMwBAAAAAAAAEcAAACAAAAAAAAAAEsAAANwBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
