<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msqe-basics/msqe-quickstart/04-msqe-apis/videos/04-TalkingHead.mp4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAPUh2QcX9Hws4TGycAiLyfa5zFZPRc6sMkqAFYsJZyQGpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBIAAAABAQAAY291cnNlLW1z
	cWUtYmFzaWNzAAAPAAAAAQEAAG1zcWUtcXVpY2tzdGFydAAMAAAAAQEAADA0LW1zcWUt
	YXBpcwYAAAABAQAAdmlkZW9zAAASAAAAAQEAADA0LVRhbGtpbmdIZWFkLm1wNAAAJAAA
	AAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHQAAACMAAAAoAAAALAAAAAIAAAABAMAADFk
	AAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAA
	AAAACAAAAAQDAABulNoCAAAAAAgAAAAEAwAAvpTaAgAAAAAIAAAABAMAAFuQ7AIAAAAA
	CAAAAAQDAAAJMRcDAAAAAAgAAAAEAwAAHoglAwAAAAAkAAAAAQYAAPgAAAAIAQAAGAEA
	ACgBAAA4AQAASAEAAFgBAABoAQAAeAEAAAgAAAAABAAAQcQ+a4aI7p8YAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABwAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAA
	CAAAAAAEAABBxBTfxAAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJF
	MzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAMwAAAAAAAAABRAAAIgBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msqe-basics/msqe-quickstart/04-msqe-apis/videos/Screen Recording 2022-07-12 at 1.28.46 PM.mov</key>
	<data>
	Ym9va8QDAAAAAAQQMAAAAFL5Sqi6S7T3Ud6beUXx/3FcKKCiTI24YbywI32Fl73VwAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBIAAAABAQAAY291cnNlLW1z
	cWUtYmFzaWNzAAAPAAAAAQEAAG1zcWUtcXVpY2tzdGFydAAMAAAAAQEAADA0LW1zcWUt
	YXBpcwYAAAABAQAAdmlkZW9zAAAtAAAAAQEAAFNjcmVlbiBSZWNvcmRpbmcgMjAyMi0w
	Ny0xMiBhdCAxLjI4LjQ2IFBNLm1vdgAAACQAAAABBgAAEAAAACAAAAA4AAAASAAAAFgA
	AAB0AAAAjAAAAKAAAACwAAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAI
	AAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAbpTaAgAAAAAIAAAA
	BAMAAL6U2gIAAAAACAAAAAQDAABbkOwCAAAAAAgAAAAEAwAACTEXAwAAAAAIAAAABAMA
	AHR7KAMAAAAAJAAAAAEGAAAUAQAAJAEAADQBAABEAQAAVAEAAGQBAAB0AQAAhAEAAJQB
	AAAIAAAAAAQAAEHEPwGXBjPpGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
	AAAABAMAAAcAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
	TWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcQU38QAAAAkAAAAAQEA
	ADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAA
	AAAAEAAAAAQQAADoAAAAAAAAAAUQAACkAQAAAAAAABAQAADgAQAAAAAAAEAQAADQAQAA
	AAAAAAIgAACsAgAAAAAAAAUgAAAcAgAAAAAAABAgAAAsAgAAAAAAABEgAABgAgAAAAAA
	ABIgAABAAgAAAAAAABMgAABQAgAAAAAAACAgAACMAgAAAAAAADAgAAC4AgAAAAAAAAHA
	AAAAAgAAAAAAABHAAAAgAAAAAAAAABLAAAAQAgAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msqe-basics/msqe-quickstart/04-msqe-apis/videos/Screen Recording 2022-07-12 at 11.53.23 AM.mov</key>
	<data>
	Ym9va8QDAAAAAAQQMAAAAHMJQCp8T7pHW+v1qTd/4qkClCBgjF/VgTpLO5epkb9GwAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBIAAAABAQAAY291cnNlLW1z
	cWUtYmFzaWNzAAAPAAAAAQEAAG1zcWUtcXVpY2tzdGFydAAMAAAAAQEAADA0LW1zcWUt
	YXBpcwYAAAABAQAAdmlkZW9zAAAuAAAAAQEAAFNjcmVlbiBSZWNvcmRpbmcgMjAyMi0w
	Ny0xMiBhdCAxMS41My4yMyBBTS5tb3YAACQAAAABBgAAEAAAACAAAAA4AAAASAAAAFgA
	AAB0AAAAjAAAAKAAAACwAAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAI
	AAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAbpTaAgAAAAAIAAAA
	BAMAAL6U2gIAAAAACAAAAAQDAABbkOwCAAAAAAgAAAAEAwAACTEXAwAAAAAIAAAABAMA
	AOquJwMAAAAAJAAAAAEGAAAUAQAAJAEAADQBAABEAQAAVAEAAGQBAAB0AQAAhAEAAJQB
	AAAIAAAAAAQAAEHEPvZqQvccGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
	AAAABAMAAAcAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
	TWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcQU38QAAAAkAAAAAQEA
	ADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEA
	AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAA
	AAAAEAAAAAQQAADoAAAAAAAAAAUQAACkAQAAAAAAABAQAADgAQAAAAAAAEAQAADQAQAA
	AAAAAAIgAACsAgAAAAAAAAUgAAAcAgAAAAAAABAgAAAsAgAAAAAAABEgAABgAgAAAAAA
	ABIgAABAAgAAAAAAABMgAABQAgAAAAAAACAgAACMAgAAAAAAADAgAAC4AgAAAAAAAAHA
	AAAAAgAAAAAAABHAAAAgAAAAAAAAABLAAAAQAgAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
