<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-rollup/videos/14 - Rollup Exercise Script 2.mp4</key>
	<data>
	Ym9va6ADAAAAAAQQMAAAANM2ThaVu5dymHutCwx56bsJ42Lqy9KufskJA7sjG6U8nAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAABoAAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy1yb2xs
	dXAAAAYAAAABAQAAdmlkZW9zAAAhAAAAAQEAADE0IC0gUm9sbHVwIEV4ZXJjaXNlIFNj
	cmlwdCAyLm1wNAAAACAAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAAoAAAALAA
	AAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAI
	AAAABAMAAMVGFAAAAAAACAAAAAQDAAA9NRQBAAAAAAgAAAAEAwAAiytGAQAAAAAIAAAA
	BAMAAJCY5AEAAAAACAAAAAQDAAAgmOQBAAAAACAAAAABBgAABAEAABQBAAAkAQAANAEA
	AEQBAABUAQAAZAEAAHQBAAAIAAAAAAQAAEHD3hEhT8duGAAAAAECAAABAAAAAAAAAA8A
	AAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAA
	QcPYOcGAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1
	RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADcAAAAAAAAAAUQAACEAQAAAAAAABAQAAC8
	AQAAAAAAAEAQAACsAQAAAAAAAAIgAACIAgAAAAAAAAUgAAD4AQAAAAAAABAgAAAIAgAA
	AAAAABEgAAA8AgAAAAAAABIgAAAcAgAAAAAAABMgAAAsAgAAAAAAACAgAABoAgAAAAAA
	ADAgAACUAgAAAAAAAAHAAADcAQAAAAAAABHAAAAgAAAAAAAAABLAAADsAQAAAAAAABDQ
	AAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
