<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-metrics/videos/00 - Metric Intro - 20221219.mp4</key>
	<data>
	Ym9va1gDAAAAAAQQMAAAAHXqHTxsxZLkDm0bQCgL8n9rUKdaAv4ts0qNMFivJDm5VAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBQAAAABAQAAY291cnNlLWRy
	dWlkLW1ldHJpY3MGAAAAAQEAAHZpZGVvcwAAIAAAAAEBAAAwMCAtIE1ldHJpYyBJbnRy
	byAtIDIwMjIxMjE5Lm1wNBwAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB0AAAAhAAA
	AAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgA
	AAAEAwAAxUYUAAAAAAAIAAAABAMAACcfNQQAAAAACAAAAAQDAACbzzcEAAAAAAgAAAAE
	AwAA8WTLBAAAAAAcAAAAAQYAANAAAADgAAAA8AAAAAABAAAQAQAAIAEAADABAAAIAAAA
	AAQAAEHEqGT0sT7YGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMA
	AAUAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50
	b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcRSbmsAAAAkAAAAAQEAADhFRUM5
	N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAA
	AQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAA
	AAQQAACsAAAAAAAAAAUQAABAAQAAAAAAABAQAAB0AQAAAAAAAEAQAABkAQAAAAAAAAIg
	AABAAgAAAAAAAAUgAACwAQAAAAAAABAgAADAAQAAAAAAABEgAAD0AQAAAAAAABIgAADU
	AQAAAAAAABMgAADkAQAAAAAAACAgAAAgAgAAAAAAADAgAABMAgAAAAAAAAHAAACUAQAA
	AAAAABHAAAAgAAAAAAAAABLAAACkAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
