<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-metrics/videos/08 - Viewing Query Metrics with Clarity - 20221219.mp4</key>
	<data>
	Ym9va3ADAAAAAAQQMAAAAKdnzUC5u2j6n43qdeCi3zMtnRoJsAam+1ovR0QBXVycbAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBQAAAABAQAAY291cnNlLWRy
	dWlkLW1ldHJpY3MGAAAAAQEAAHZpZGVvcwAANgAAAAEBAAAwOCAtIFZpZXdpbmcgUXVl
	cnkgTWV0cmljcyB3aXRoIENsYXJpdHkgLSAyMDIyMTIxOS5tcDQAABwAAAABBgAAEAAA
	ACAAAAA4AAAASAAAAFgAAAB0AAAAhAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGL
	AAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAACcfNQQA
	AAAACAAAAAQDAACbzzcEAAAAAAgAAAAEAwAAK2bLBAAAAAAcAAAAAQYAAOgAAAD4AAAA
	CAEAABgBAAAoAQAAOAEAAEgBAAAIAAAAAAQAAEHEqGURQgQBGAAAAAECAAABAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJ
	AABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAA
	BAAAQcRSbmsAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1
	NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
	AAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADEAAAAAAAAAAUQAABYAQAAAAAAABAQ
	AACMAQAAAAAAAEAQAAB8AQAAAAAAAAIgAABYAgAAAAAAAAUgAADIAQAAAAAAABAgAADY
	AQAAAAAAABEgAAAMAgAAAAAAABIgAADsAQAAAAAAABMgAAD8AQAAAAAAACAgAAA4AgAA
	AAAAADAgAABkAgAAAAAAAAHAAACsAQAAAAAAABHAAAAgAAAAAAAAABLAAAC8AQAAAAAA
	ABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
