<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-metrics/videos/04 - Configure Druid for Prometheus - 20221219.mp4</key>
	<data>
	Ym9va2wDAAAAAAQQMAAAAD/jxCO5RHrw8gYzXdVaFmdRxeDW2cOAGTpu4l9PY7gEaAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBQAAAABAQAAY291cnNlLWRy
	dWlkLW1ldHJpY3MGAAAAAQEAAHZpZGVvcwAAMgAAAAEBAAAwNCAtIENvbmZpZ3VyZSBE
	cnVpZCBmb3IgUHJvbWV0aGV1cyAtIDIwMjIxMjE5Lm1wNAAAHAAAAAEGAAAQAAAAIAAA
	ADgAAABIAAAAWAAAAHQAAACEAAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAA
	AAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAJx81BAAAAAAI
	AAAABAMAAJvPNwQAAAAACAAAAAQDAABZZcsEAAAAABwAAAABBgAA5AAAAPQAAAAEAQAA
	FAEAACQBAAA0AQAARAEAAAgAAAAABAAAQcSoZQVgQV8YAAAAAQIAAAEAAAAAAAAADwAA
	AAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZp
	bGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABB
	xFJuawAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVF
	GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
	AMwAAAD+////AQAAAAAAAAAQAAAABBAAAMAAAAAAAAAABRAAAFQBAAAAAAAAEBAAAIgB
	AAAAAAAAQBAAAHgBAAAAAAAAAiAAAFQCAAAAAAAABSAAAMQBAAAAAAAAECAAANQBAAAA
	AAAAESAAAAgCAAAAAAAAEiAAAOgBAAAAAAAAEyAAAPgBAAAAAAAAICAAADQCAAAAAAAA
	MCAAAGACAAAAAAAAAcAAAKgBAAAAAAAAEcAAACAAAAAAAAAAEsAAALgBAAAAAAAAENAA
	AAQAAAAAAAAA
	</data>
</dict>
</plist>
