<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-metrics/videos/09 - Solving Query Issues with Clarity - 20221219.mp4</key>
	<data>
	Ym9va3ADAAAAAAQQMAAAAI470yc4taJlrdvuaB0F906qY/0CschyEQJb7tQjleuMbAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBQAAAABAQAAY291cnNlLWRy
	dWlkLW1ldHJpY3MGAAAAAQEAAHZpZGVvcwAANQAAAAEBAAAwOSAtIFNvbHZpbmcgUXVl
	cnkgSXNzdWVzIHdpdGggQ2xhcml0eSAtIDIwMjIxMjE5Lm1wNAAAABwAAAABBgAAEAAA
	ACAAAAA4AAAASAAAAFgAAAB0AAAAhAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGL
	AAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAACcfNQQA
	AAAACAAAAAQDAACbzzcEAAAAAAgAAAAEAwAAO2bLBAAAAAAcAAAAAQYAAOgAAAD4AAAA
	CAEAABgBAAAoAQAAOAEAAEgBAAAIAAAAAAQAAEHEqGUUi5URGAAAAAECAAABAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJ
	AABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAA
	BAAAQcRSbmsAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1
	NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
	AAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADEAAAAAAAAAAUQAABYAQAAAAAAABAQ
	AACMAQAAAAAAAEAQAAB8AQAAAAAAAAIgAABYAgAAAAAAAAUgAADIAQAAAAAAABAgAADY
	AQAAAAAAABEgAAAMAgAAAAAAABIgAADsAQAAAAAAABMgAAD8AQAAAAAAACAgAAA4AgAA
	AAAAADAgAABkAgAAAAAAAAHAAACsAQAAAAAAABHAAAAgAAAAAAAAABLAAAC8AQAAAAAA
	ABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
