<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/03-msq-stages/videos/03 - MSQE Multi-Stage Ingestion Script - 20220711.mp4</key>
	<data>
	Ym9va9ADAAAAAAQQMAAAAE+cFHZG0y6ibxyCPqeIRk6V7g4AE0ZM/RjKOMaJlvuFzAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAANAAAAAQEAADAzLW1zcS1z
	dGFnZXMAAAAGAAAAAQEAAHZpZGVvcwAANQAAAAEBAAAwMyAtIE1TUUUgTXVsdGktU3Rh
	Z2UgSW5nZXN0aW9uIFNjcmlwdCAtIDIwMjIwNzExLm1wNAAAACQAAAABBgAAEAAAACAA
	AAA4AAAASAAAAFgAAAB0AAAAjAAAAKQAAAC0AAAACAAAAAQDAAAxZAAAAAAAAAgAAAAE
	AwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAA
	bpTaAgAAAAAIAAAABAMAAL6U2gIAAAAACAAAAAQDAABTzu0CAAAAAAgAAAAEAwAA+TAX
	AwAAAAAIAAAABAMAAEvnJAMAAAAAJAAAAAEGAAAgAQAAMAEAAEABAABQAQAAYAEAAHAB
	AACAAQAAkAEAAKABAAAIAAAAAAQAAEHEPkC+AvezGAAAAAECAAABAAAAAAAAAA8AAAAA
	AAAAAAAAAAAAAAAIAAAABAMAAAcAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxl
	Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcQU
	38QAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgA
	AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADM
	AAAA/v///wEAAAAAAAAAEAAAAAQQAAD0AAAAAAAAAAUQAACwAQAAAAAAABAQAADsAQAA
	AAAAAEAQAADcAQAAAAAAAAIgAAC4AgAAAAAAAAUgAAAoAgAAAAAAABAgAAA4AgAAAAAA
	ABEgAABsAgAAAAAAABIgAABMAgAAAAAAABMgAABcAgAAAAAAACAgAACYAgAAAAAAADAg
	AADEAgAAAAAAAAHAAAAMAgAAAAAAABHAAAAgAAAAAAAAABLAAAAcAgAAAAAAABDQAAAE
	AAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/03-msq-stages/videos/03 - SQL-based Multi-Stage Ingestion Script.mp4</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAFZ85Cd7JBJop20fpH6slc07U0olayL9x+qDY3H6n7SAxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAANAAAAAQEAADAzLW1zcS1z
	dGFnZXMAAAAGAAAAAQEAAHZpZGVvcwAALwAAAAEBAAAwMyAtIFNRTC1iYXNlZCBNdWx0
	aS1TdGFnZSBJbmdlc3Rpb24gU2NyaXB0Lm1wNAAkAAAAAQYAABAAAAAgAAAAOAAAAEgA
	AABYAAAAdAAAAIwAAACkAAAAtAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAA
	AAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAG6U2gIAAAAA
	CAAAAAQDAAC+lNoCAAAAAAgAAAAEAwAAU87tAgAAAAAIAAAABAMAAPkwFwMAAAAACAAA
	AAQDAADaxEEDAAAAACQAAAABBgAAGAEAACgBAAA4AQAASAEAAFgBAABoAQAAeAEAAIgB
	AACYAQAACAAAAAAEAABBxETcB1vFpRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAHAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHEFN/EAAAAJAAA
	AAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEA
	AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA7AAAAAAAAAAFEAAAqAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
