<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/clickhouse-polaris-migration/videos/02 - Setting Up a Polaris Account.mp4</key>
	<data>
	Ym9va6ADAAAAAAQQMAAAAAx7KROOorsccbcjnYLxVWkbd2QL9RnYzEGx5ToSMwwPnAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAHAAAAAEBAABjbGlja2hvdXNlLXBvbGFyaXMtbWlncmF0aW9u
	BgAAAAEBAAB2aWRlb3MAACUAAAABAQAAMDIgLSBTZXR0aW5nIFVwIGEgUG9sYXJpcyBB
	Y2NvdW50Lm1wNAAAACAAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB4AAAAnAAAAKwA
	AAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAI
	AAAABAMAAMVGFAAAAAAACAAAAAQDAAAC9SUCAAAAAAgAAAAEAwAAs/glAgAAAAAIAAAA
	BAMAAJk2MwIAAAAACAAAAAQDAACPNTMCAAAAACAAAAABBgAABAEAABQBAAAkAQAANAEA
	AEQBAABUAQAAZAEAAHQBAAAIAAAAAAQAAEHD9eh8CiLYGAAAAAECAAABAAAAAAAAAA8A
	AAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAA
	QcPYOcGAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1
	RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADcAAAAAAAAAAUQAACEAQAAAAAAABAQAAC8
	AQAAAAAAAEAQAACsAQAAAAAAAAIgAACIAgAAAAAAAAUgAAD4AQAAAAAAABAgAAAIAgAA
	AAAAABEgAAA8AgAAAAAAABIgAAAcAgAAAAAAABMgAAAsAgAAAAAAACAgAABoAgAAAAAA
	ADAgAACUAgAAAAAAAAHAAADcAQAAAAAAABHAAAAgAAAAAAAAABLAAADsAQAAAAAAABDQ
	AAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
