<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-timestamp/videos/03-talkingHead.mp4</key>
	<data>
	Ym9va5QDAAAAAAQQMAAAANCYY8IK/Ltvlwzfn++vEHo4SMS02+jZEa2uVbJX4lVPkAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAB0AAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy10aW1l
	c3RhbXAAAAAGAAAAAQEAAHZpZGVvcwAAEgAAAAEBAAAwMy10YWxraW5nSGVhZC5tcDQA
	ACAAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAApAAAALQAAAAIAAAABAMAADFk
	AAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAA
	AAAACAAAAAQDAAA9NRQBAAAAAAgAAAAEAwAAXKUqAQAAAAAIAAAABAMAAFgZwgEAAAAA
	CAAAAAQDAAAMUdoBAAAAACAAAAABBgAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEA
	AGgBAAAIAAAAAAQAAEHD2sMeDSXyGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPN9ncAAAAkAAAA
	AQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEA
	AAAAAAAAEAAAAAQQAADQAAAAAAAAAAUQAAB4AQAAAAAAABAQAACwAQAAAAAAAEAQAACg
	AQAAAAAAAAIgAAB8AgAAAAAAAAUgAADsAQAAAAAAABAgAAD8AQAAAAAAABEgAAAwAgAA
	AAAAABIgAAAQAgAAAAAAABMgAAAgAgAAAAAAACAgAABcAgAAAAAAADAgAACIAgAAAAAA
	AAHAAADQAQAAAAAAABHAAAAgAAAAAAAAABLAAADgAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
