<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/druid-polaris-migration/videos/03 - Create a Polaris Table Script.mp4</key>
	<data>
	Ym9va5wDAAAAAAQQMAAAADTPVEYjGVq+D3IHUNkIAW39kINwza69wFVf61RJA36mmAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABkcnVpZC1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAAJgAAAAEBAAAwMyAtIENyZWF0ZSBhIFBvbGFyaXMgVGFibGUgU2Ny
	aXB0Lm1wNAAAIAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHgAAACYAAAAqAAAAAgA
	AAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAE
	AwAAxUYUAAAAAAAIAAAABAMAAAL1JQIAAAAACAAAAAQDAADwWFECAAAAAAgAAAAEAwAA
	N/xeAgAAAAAIAAAABAMAAClKYQIAAAAAIAAAAAEGAAAAAQAAEAEAACABAAAwAQAAQAEA
	AFABAABgAQAAcAEAAAgAAAAABAAAQcQC5TQ0WJ0YAAAAAQIAAAEAAAAAAAAADwAAAAAA
	AAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
	Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw9g5
	wYAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAA
	AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwA
	AAD+////AQAAAAAAAAAQAAAABBAAANgAAAAAAAAABRAAAIABAAAAAAAAEBAAALgBAAAA
	AAAAQBAAAKgBAAAAAAAAAiAAAIQCAAAAAAAABSAAAPQBAAAAAAAAECAAAAQCAAAAAAAA
	ESAAADgCAAAAAAAAEiAAABgCAAAAAAAAEyAAACgCAAAAAAAAICAAAGQCAAAAAAAAMCAA
	AJACAAAAAAAAAcAAANgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAOgBAAAAAAAAENAAAAQA
	AAAAAAAA
	</data>
</dict>
</plist>
