<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-rollup/videos/15 - talkingHead.mp4</key>
	<data>
	Ym9va5ADAAAAAAQQMAAAAH62QEMzpdC3/Rphkhm5jN3FsNyIGrKCi04Csp3rOz0xjAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAABoAAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy1yb2xs
	dXAAAAYAAAABAQAAdmlkZW9zAAAUAAAAAQEAADE1IC0gdGFsa2luZ0hlYWQubXA0IAAA
	AAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHwAAACgAAAAsAAAAAgAAAAEAwAAMWQAAAAA
	AAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAI
	AAAABAMAAD01FAEAAAAACAAAAAQDAACLK0YBAAAAAAgAAAAEAwAAkJjkAQAAAAAIAAAA
	BAMAACQz+QEAAAAAIAAAAAEGAAD0AAAABAEAABQBAAAkAQAANAEAAEQBAABUAQAAZAEA
	AAgAAAAABAAAQcPjVNvS9JYYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw9g5wYAAACQAAAABAQAA
	OEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAA
	AAAQAAAABBAAAMwAAAAAAAAABRAAAHQBAAAAAAAAEBAAAKwBAAAAAAAAQBAAAJwBAAAA
	AAAAAiAAAHgCAAAAAAAABSAAAOgBAAAAAAAAECAAAPgBAAAAAAAAESAAACwCAAAAAAAA
	EiAAAAwCAAAAAAAAEyAAABwCAAAAAAAAICAAAFgCAAAAAAAAMCAAAIQCAAAAAAAAAcAA
	AMwBAAAAAAAAEcAAACAAAAAAAAAAEsAAANwBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/videos/Intro.mp4</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAOmlGx/IIEaZINnaB3zjSLc41tVu2eznYll3Dm82q97zSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAAYAAAABAQAAdmlkZW9zAAAJAAAAAQEAAEludHJvLm1w
	NAAAABwAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAAjAAAAAgAAAAEAwAAMWQA
	AAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAA
	AAAIAAAABAMAAD01FAEAAAAACAAAAAQDAACgW7oBAAAAAAgAAAAEAwAAnDDFAQAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHDZgxQWonY
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIz
	Qi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACgAAAAAAAA
	AAUQAAA0AQAAAAAAABAQAABoAQAAAAAAAEAQAABYAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACkAQAAAAAAABAgAAC0AQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACIAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACYAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
