<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-metrics/videos/0X - Metrics and Ingestion Issues - 20230113.mp4</key>
	<data>
	Ym9va2gDAAAAAAQQMAAAAIhzGIWU4G4lfyhxELUBUh1eLEKlnXaWREPTVmeOF5gPZAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBQAAAABAQAAY291cnNlLWRy
	dWlkLW1ldHJpY3MGAAAAAQEAAHZpZGVvcwAAMAAAAAEBAAAwWCAtIE1ldHJpY3MgYW5k
	IEluZ2VzdGlvbiBJc3N1ZXMgLSAyMDIzMDExMy5tcDQcAAAAAQYAABAAAAAgAAAAOAAA
	AEgAAABYAAAAdAAAAIQAAAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAhiwAAAAAAAAgA
	AAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAAAnHzUEAAAAAAgAAAAE
	AwAAm883BAAAAAAIAAAABAMAAORgAwUAAAAAHAAAAAEGAADgAAAA8AAAAAABAAAQAQAA
	IAEAADABAABAAQAACAAAAAAEAABBxLjYAGuQVRgAAAABAgAAAQAAAAAAAAAPAAAAAAAA
	AAAAAAAAAAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTov
	Ly8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHEUm5r
	AAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAA
	AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAA
	AP7///8BAAAAAAAAABAAAAAEEAAAvAAAAAAAAAAFEAAAUAEAAAAAAAAQEAAAhAEAAAAA
	AABAEAAAdAEAAAAAAAACIAAAUAIAAAAAAAAFIAAAwAEAAAAAAAAQIAAA0AEAAAAAAAAR
	IAAABAIAAAAAAAASIAAA5AEAAAAAAAATIAAA9AEAAAAAAAAgIAAAMAIAAAAAAAAwIAAA
	XAIAAAAAAAABwAAApAEAAAAAAAARwAAAIAAAAAAAAAASwAAAtAEAAAAAAAAQ0AAABAAA
	AAAAAAA=
	</data>
</dict>
</plist>
