<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/03-tools-ingestion/videos/02.5-SQL Tools Script.mp4</key>
	<data>
	Ym9va7gDAAAAAAQQMAAAAFI2MEqpKQ4Hi8NZ6kALvKrFCcJibF/pYaWIkmYNNt/+tAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAASAAAAAQEAADAzLXRvb2xz
	LWluZ2VzdGlvbgAABgAAAAEBAAB2aWRlb3MAABkAAAABAQAAMDIuNS1TUUwgVG9vbHMg
	U2NyaXB0Lm1wNAAAACQAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB0AAAAjAAAAKgA
	AAC4AAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAA
	AAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAbpTaAgAAAAAIAAAABAMAAL6U2gIAAAAA
	CAAAAAQDAABk0E8DAAAAAAgAAAAEAwAAZ9BPAwAAAAAIAAAABAMAALB2UQMAAAAAJAAA
	AAEGAAAIAQAAGAEAACgBAAA4AQAASAEAAFgBAABoAQAAeAEAAIgBAAAIAAAAAAQAAEHE
	SMYJ40C9GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAcAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
	CAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcQU38QAAAAkAAAAAQEAADhFRUM5N0EwLUY4
	QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAADc
	AAAAAAAAAAUQAACYAQAAAAAAABAQAADUAQAAAAAAAEAQAADEAQAAAAAAAAIgAACgAgAA
	AAAAAAUgAAAQAgAAAAAAABAgAAAgAgAAAAAAABEgAABUAgAAAAAAABIgAAA0AgAAAAAA
	ABMgAABEAgAAAAAAACAgAACAAgAAAAAAADAgAACsAgAAAAAAAAHAAAD0AQAAAAAAABHA
	AAAgAAAAAAAAABLAAAAEAgAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
