<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/druid-polaris-migration/videos/03-TalkingHead.mp4</key>
	<data>
	Ym9va4gDAAAAAAQQMAAAABlSs3bYZwvumQi/bselMGT32SgB3uiimjICGJZjJ5AehAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABkcnVpZC1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAAEgAAAAEBAAAwMy1UYWxraW5nSGVhZC5tcDQAACAAAAABBgAAEAAA
	ACAAAAA4AAAASAAAAFgAAAB4AAAAmAAAAKgAAAAIAAAABAMAADFkAAAAAAAACAAAAAQD
	AAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAAAC
	9SUCAAAAAAgAAAAEAwAA8FhRAgAAAAAIAAAABAMAADf8XgIAAAAACAAAAAQDAAAHdmQC
	AAAAACAAAAABBgAA7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAFwBAAAIAAAAAAQA
	AEHEAxTyQhR+GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADhFRUM5N0Ew
	LUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
	AADEAAAAAAAAAAUQAABsAQAAAAAAABAQAACkAQAAAAAAAEAQAACUAQAAAAAAAAIgAABw
	AgAAAAAAAAUgAADgAQAAAAAAABAgAADwAQAAAAAAABEgAAAkAgAAAAAAABIgAAAEAgAA
	AAAAABMgAAAUAgAAAAAAACAgAABQAgAAAAAAADAgAAB8AgAAAAAAAAHAAADEAQAAAAAA
	ABHAAAAgAAAAAAAAABLAAADUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/druid-polaris-migration/videos/ExerciseAPIs.mov</key>
	<data>
	Ym9va4QDAAAAAAQQMAAAAJfy8B23fP/wdP+YrDG6/PHalnTSmoTHzktZzhGWFGPOgAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABkcnVpZC1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAAEAAAAAEBAABFeGVyY2lzZUFQSXMubW92IAAAAAEGAAAQAAAAIAAA
	ADgAAABIAAAAWAAAAHgAAACYAAAAqAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGL
	AAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAAL1JQIA
	AAAACAAAAAQDAADwWFECAAAAAAgAAAAEAwAAN/xeAgAAAAAIAAAABAMAAP8dZAIAAAAA
	IAAAAAEGAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEAAAgAAAAABAAAQcQD
	Bi7qCycYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAA
	AAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
	AAAABAMAAACgIGh0AAAACAAAAAAEAABBw9g5wYAAACQAAAABAQAAOEVFQzk3QTAtRjhB
	Mi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
	AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAMAA
	AAAAAAAABRAAAGgBAAAAAAAAEBAAAKABAAAAAAAAQBAAAJABAAAAAAAAAiAAAGwCAAAA
	AAAABSAAANwBAAAAAAAAECAAAOwBAAAAAAAAESAAACACAAAAAAAAEiAAAAACAAAAAAAA
	EyAAABACAAAAAAAAICAAAEwCAAAAAAAAMCAAAHgCAAAAAAAAAcAAAMABAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAANABAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/druid-polaris-migration/videos/RestoreVars.mov</key>
	<data>
	Ym9va4QDAAAAAAQQMAAAAGERk3vI1xYvOuPXCRXS1ewtrMfUt5IDpK5iWA8U0iikgAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABkcnVpZC1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAADwAAAAEBAABSZXN0b3JlVmFycy5tb3YAIAAAAAEGAAAQAAAAIAAA
	ADgAAABIAAAAWAAAAHgAAACYAAAAqAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGL
	AAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAAL1JQIA
	AAAACAAAAAQDAADwWFECAAAAAAgAAAAEAwAAN/xeAgAAAAAIAAAABAMAAAQlaAIAAAAA
	IAAAAAEGAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEAAAgAAAAABAAAQcQD
	n14YhGcYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAA
	AAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
	AAAABAMAAACgIGh0AAAACAAAAAAEAABBw9g5wYAAACQAAAABAQAAOEVFQzk3QTAtRjhB
	Mi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
	AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAMAA
	AAAAAAAABRAAAGgBAAAAAAAAEBAAAKABAAAAAAAAQBAAAJABAAAAAAAAAiAAAGwCAAAA
	AAAABSAAANwBAAAAAAAAECAAAOwBAAAAAAAAESAAACACAAAAAAAAEiAAAAACAAAAAAAA
	EyAAABACAAAAAAAAICAAAEwCAAAAAAAAMCAAAHgCAAAAAAAAAcAAAMABAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAANABAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/druid-polaris-migration/videos/SaveVars.mov</key>
	<data>
	Ym9va4ADAAAAAAQQMAAAAC4/4I1c/iXbBXXSZgXxKSQlSP34gTpdPEPd73Y6yefxfAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABkcnVpZC1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAADAAAAAEBAABTYXZlVmFycy5tb3YgAAAAAQYAABAAAAAgAAAAOAAA
	AEgAAABYAAAAeAAAAJgAAACoAAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAA
	AAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAAvUlAgAAAAAI
	AAAABAMAAPBYUQIAAAAACAAAAAQDAAA3/F4CAAAAAAgAAAAEAwAAMiFoAgAAAAAgAAAA
	AQYAAOQAAAD0AAAABAEAABQBAAAkAQAANAEAAEQBAABUAQAACAAAAAAEAABBxAOfOxBF
	XBgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQA
	AAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAAKAgaHQAAAAIAAAAAAQAAEHD2DnBgAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRC
	M0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAvAAAAAAA
	AAAFEAAAZAEAAAAAAAAQEAAAnAEAAAAAAABAEAAAjAEAAAAAAAACIAAAaAIAAAAAAAAF
	IAAA2AEAAAAAAAAQIAAA6AEAAAAAAAARIAAAHAIAAAAAAAASIAAA/AEAAAAAAAATIAAA
	DAIAAAAAAAAgIAAASAIAAAAAAAAwIAAAdAIAAAAAAAABwAAAvAEAAAAAAAARwAAAIAAA
	AAAAAAASwAAAzAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
