<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/08 - Druid Log Retention.mp4</key>
	<data>
	Ym9va4ADAAAAAAQQMAAAAM55XwtN6qxizAJaQoND28P2C/ND5Zx4MF59928BwTBDfAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAAcAAAA
	AQEAADA4IC0gRHJ1aWQgTG9nIFJldGVudGlvbi5tcDQgAAAAAQYAABAAAAAgAAAAOAAA
	AEgAAABYAAAAdAAAAIgAAACYAAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAA
	AAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAn7+5AwAAAAAI
	AAAABAMAAOUDugMAAAAACAAAAAQDAAD5qsMDAAAAAAgAAAAEAwAAG1sYBAAAAAAgAAAA
	AQYAAOQAAAD0AAAABAEAABQBAAAkAQAANAEAAEQBAABUAQAACAAAAAAEAABBxIDr3+y4
	GRgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQA
	AAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
	AwAAAKAgaHQAAAAIAAAAAAQAAEHEUm5rAAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRC
	M0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
	AAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAvAAAAAAA
	AAAFEAAAZAEAAAAAAAAQEAAAnAEAAAAAAABAEAAAjAEAAAAAAAACIAAAaAIAAAAAAAAF
	IAAA2AEAAAAAAAAQIAAA6AEAAAAAAAARIAAAHAIAAAAAAAASIAAA/AEAAAAAAAATIAAA
	DAIAAAAAAAAgIAAASAIAAAAAAAAwIAAAdAIAAAAAAAABwAAAvAEAAAAAAAARwAAAIAAA
	AAAAAAASwAAAzAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
