<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/kafka-polaris-migration/videos/03 - Timestamp Exercise 2 Script.mp4</key>
	<data>
	Ym9va5gDAAAAAAQQMAAAAFPlc+we1XTi3tTaku/CiQEJ1Ubktqnbz8Bsw/IHxfVblAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABrYWZrYS1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAAJAAAAAEBAAAwMyAtIFRpbWVzdGFtcCBFeGVyY2lzZSAyIFNjcmlw
	dC5tcDQgAAAAAQYAABAAAAAgAAAAOAAAAEgAAABYAAAAeAAAAJgAAACoAAAACAAAAAQD
	AAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADF
	RhQAAAAAAAgAAAAEAwAAAvUlAgAAAAAIAAAABAMAAD7PdgIAAAAACAAAAAQDAACkTpYC
	AAAAAAgAAAAEAwAAq7nVAQAAAAAgAAAAAQYAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEA
	AFwBAABsAQAACAAAAAAEAABBw9jmWoYtNxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHD93s0gAAA
	JAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAAfAEAAAAAAAAQEAAAtAEAAAAAAABA
	EAAApAEAAAAAAAACIAAAgAIAAAAAAAAFIAAA8AEAAAAAAAAQIAAAAAIAAAAAAAARIAAA
	NAIAAAAAAAASIAAAFAIAAAAAAAATIAAAJAIAAAAAAAAgIAAAYAIAAAAAAAAwIAAAjAIA
	AAAAAAABwAAA1AEAAAAAAAARwAAAIAAAAAAAAAASwAAA5AEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/kafka-polaris-migration/videos/03-CreatePolarisTable.mp4</key>
	<data>
	Ym9va5ADAAAAAAQQMAAAAPTait58epI3F4j2ggLUOINWqy22ASwdrJ0p/ci+X3eqjAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABrYWZrYS1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAAGQAAAAEBAAAwMy1DcmVhdGVQb2xhcmlzVGFibGUubXA0AAAAIAAA
	AAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHgAAACYAAAAqAAAAAgAAAAEAwAAMWQAAAAA
	AAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAI
	AAAABAMAAAL1JQIAAAAACAAAAAQDAAA+z3YCAAAAAAgAAAAEAwAApE6WAgAAAAAIAAAA
	BAMAAAxOlgIAAAAAIAAAAAEGAAD0AAAABAEAABQBAAAkAQAANAEAAEQBAABUAQAAZAEA
	AAgAAAAABAAAQcQRa1VuhHQYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw/d7NIAAACQAAAABAQAA
	OEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAA
	AAAQAAAABBAAAMwAAAAAAAAABRAAAHQBAAAAAAAAEBAAAKwBAAAAAAAAQBAAAJwBAAAA
	AAAAAiAAAHgCAAAAAAAABSAAAOgBAAAAAAAAECAAAPgBAAAAAAAAESAAACwCAAAAAAAA
	EiAAAAwCAAAAAAAAEyAAABwCAAAAAAAAICAAAFgCAAAAAAAAMCAAAIQCAAAAAAAAAcAA
	AMwBAAAAAAAAEcAAACAAAAAAAAAAEsAAANwBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
