<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/04-msq-apis/videos/04-TalkingHead-2.mp4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAOUtabPlyp3Gpor5ZeRgXwD5cFNdUTdxp6DXtUh35y2IpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAALAAAAAQEAADA0LW1zcS1h
	cGlzAAYAAAABAQAAdmlkZW9zAAAUAAAAAQEAADA0LVRhbGtpbmdIZWFkLTIubXA0JAAA
	AAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHQAAACMAAAAoAAAALAAAAAIAAAABAMAADFk
	AAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAA
	AAAACAAAAAQDAABulNoCAAAAAAgAAAAEAwAAvpTaAgAAAAAIAAAABAMAAFuQ7AIAAAAA
	CAAAAAQDAAAJMRcDAAAAAAgAAAAEAwAAD6pNAwAAAAAkAAAAAQYAAPgAAAAIAQAAGAEA
	ACgBAAA4AQAASAEAAFgBAABoAQAAeAEAAAgAAAAABAAAQcRHojXp1UIYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABwAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAA
	CAAAAAAEAABBxBTfxAAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJF
	MzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAMwAAAAAAAAABRAAAIgBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
