<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-rollup/videos/Screen Recording MinMax.mov</key>
	<data>
	Ym9va5gDAAAAAAQQMAAAAI2BcIMWow7Fx6z33mFqcAiWzlFhmJkUP0dACAz7RftulAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAABoAAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy1yb2xs
	dXAAAAYAAAABAQAAdmlkZW9zAAAbAAAAAQEAAFNjcmVlbiBSZWNvcmRpbmcgTWluTWF4
	Lm1vdgAgAAAAAQYAABAAAAAgAAAAOAAAAEgAAABYAAAAfAAAAKAAAACwAAAACAAAAAQD
	AAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADF
	RhQAAAAAAAgAAAAEAwAAPTUUAQAAAAAIAAAABAMAAIsrRgEAAAAACAAAAAQDAACQmOQB
	AAAAAAgAAAAEAwAAm1TxAQAAAAAgAAAAAQYAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEA
	AFwBAABsAQAACAAAAAAEAABBw+C8sDkLHBgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHD2DnBgAAA
	JAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAA1AAAAAAAAAAFEAAAfAEAAAAAAAAQEAAAtAEAAAAAAABA
	EAAApAEAAAAAAAACIAAAgAIAAAAAAAAFIAAA8AEAAAAAAAAQIAAAAAIAAAAAAAARIAAA
	NAIAAAAAAAASIAAAFAIAAAAAAAATIAAAJAIAAAAAAAAgIAAAYAIAAAAAAAAwIAAAjAIA
	AAAAAAABwAAA1AEAAAAAAAARwAAAIAAAAAAAAAASwAAA5AEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
</dict>
</plist>
