<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-metrics/videos/04-TalkingHead.mp4</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAPD0kMPlo4Yb6geRF+S43/1E1ImsyKs2zf6cqWOE6AFXSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBQAAAABAQAAY291cnNlLWRy
	dWlkLW1ldHJpY3MGAAAAAQEAAHZpZGVvcwAAEgAAAAEBAAAwNC1UYWxraW5nSGVhZC5t
	cDQAABwAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB0AAAAhAAAAAgAAAAEAwAAMWQA
	AAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAA
	AAAIAAAABAMAACcfNQQAAAAACAAAAAQDAACbzzcEAAAAAAgAAAAEAwAAxsTOBAAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHEqTGg/B4D
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcRSbmsAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIz
	Qi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACgAAAAAAAA
	AAUQAAA0AQAAAAAAABAQAABoAQAAAAAAAEAQAABYAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACkAQAAAAAAABAgAAC0AQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACIAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACYAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
