<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/clickhouse-polaris-migration/videos/03-TalkingHead.mp4</key>
	<data>
	Ym9va4wDAAAAAAQQMAAAAMowdCjiQDtv977aCT0XyXGcJsXOFDAtcw9j53Bj7eo6iAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAHAAAAAEBAABjbGlja2hvdXNlLXBvbGFyaXMtbWlncmF0aW9u
	BgAAAAEBAAB2aWRlb3MAABIAAAABAQAAMDMtVGFsa2luZ0hlYWQubXA0AAAgAAAAAQYA
	ABAAAAAgAAAAOAAAAEgAAABYAAAAeAAAAJwAAACsAAAACAAAAAQDAAAxZAAAAAAAAAgA
	AAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAE
	AwAAAvUlAgAAAAAIAAAABAMAALP4JQIAAAAACAAAAAQDAACZNjMCAAAAAAgAAAAEAwAA
	kMUzAgAAAAAgAAAAAQYAAPAAAAAAAQAAEAEAACABAAAwAQAAQAEAAFABAABgAQAACAAA
	AAAEAABBw/YA+p3GbxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQD
	AAAGAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
	dG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHD2DnBgAAAJAAAAAEBAAA4RUVD
	OTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMA
	AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
	AAAEEAAAyAAAAAAAAAAFEAAAcAEAAAAAAAAQEAAAqAEAAAAAAABAEAAAmAEAAAAAAAAC
	IAAAdAIAAAAAAAAFIAAA5AEAAAAAAAAQIAAA9AEAAAAAAAARIAAAKAIAAAAAAAASIAAA
	CAIAAAAAAAATIAAAGAIAAAAAAAAgIAAAVAIAAAAAAAAwIAAAgAIAAAAAAAABwAAAyAEA
	AAAAAAARwAAAIAAAAAAAAAASwAAA2AEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/clickhouse-polaris-migration/videos/StandUpCH.mov</key>
	<data>
	Ym9va4gDAAAAAAQQMAAAAC1WUp96Sp9iHFoosJ14QIZffDiQ48gR1DclC3cMvm0whAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAHAAAAAEBAABjbGlja2hvdXNlLXBvbGFyaXMtbWlncmF0aW9u
	BgAAAAEBAAB2aWRlb3MAAA0AAAABAQAAU3RhbmRVcENILm1vdgAAACAAAAABBgAAEAAA
	ACAAAAA4AAAASAAAAFgAAAB4AAAAnAAAAKwAAAAIAAAABAMAADFkAAAAAAAACAAAAAQD
	AAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAAAC
	9SUCAAAAAAgAAAAEAwAAs/glAgAAAAAIAAAABAMAAJk2MwIAAAAACAAAAAQDAADpPDUC
	AAAAACAAAAABBgAA7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAFwBAAAIAAAAAAQA
	AEHD9mw0cvGAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADhFRUM5N0Ew
	LUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
	AADEAAAAAAAAAAUQAABsAQAAAAAAABAQAACkAQAAAAAAAEAQAACUAQAAAAAAAAIgAABw
	AgAAAAAAAAUgAADgAQAAAAAAABAgAADwAQAAAAAAABEgAAAkAgAAAAAAABIgAAAEAgAA
	AAAAABMgAAAUAgAAAAAAACAgAABQAgAAAAAAADAgAAB8AgAAAAAAAAHAAADEAQAAAAAA
	ABHAAAAgAAAAAAAAABLAAADUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/clickhouse-polaris-migration/videos/UploadFile.mov</key>
	<data>
	Ym9va4gDAAAAAAQQMAAAAKm2o2Abkw23jeyzqcKpsQizL2Az69bWE4lxkbjXKQmfhAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAHAAAAAEBAABjbGlja2hvdXNlLXBvbGFyaXMtbWlncmF0aW9u
	BgAAAAEBAAB2aWRlb3MAAA4AAAABAQAAVXBsb2FkRmlsZS5tb3YAACAAAAABBgAAEAAA
	ACAAAAA4AAAASAAAAFgAAAB4AAAAnAAAAKwAAAAIAAAABAMAADFkAAAAAAAACAAAAAQD
	AAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAAAC
	9SUCAAAAAAgAAAAEAwAAs/glAgAAAAAIAAAABAMAAJk2MwIAAAAACAAAAAQDAABOYzcC
	AAAAACAAAAABBgAA7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAFwBAAAIAAAAAAQA
	AEHD9xLtRHHWGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADhFRUM5N0Ew
	LUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
	AADEAAAAAAAAAAUQAABsAQAAAAAAABAQAACkAQAAAAAAAEAQAACUAQAAAAAAAAIgAABw
	AgAAAAAAAAUgAADgAQAAAAAAABAgAADwAQAAAAAAABEgAAAkAgAAAAAAABIgAAAEAgAA
	AAAAABMgAAAUAgAAAAAAACAgAABQAgAAAAAAADAgAAB8AgAAAAAAAAHAAADEAQAAAAAA
	ABHAAAAgAAAAAAAAABLAAADUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/clickhouse-polaris-migration/videos/UploadFile.mp4</key>
	<data>
	Ym9va4gDAAAAAAQQMAAAAONp8a6q8mov4HUrbhPMeCPpWzzQi3kweOGCc0P2MvxihAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAHAAAAAEBAABjbGlja2hvdXNlLXBvbGFyaXMtbWlncmF0aW9u
	BgAAAAEBAAB2aWRlb3MAAA4AAAABAQAAVXBsb2FkRmlsZS5tcDQAACAAAAABBgAAEAAA
	ACAAAAA4AAAASAAAAFgAAAB4AAAAnAAAAKwAAAAIAAAABAMAADFkAAAAAAAACAAAAAQD
	AAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAAAC
	9SUCAAAAAAgAAAAEAwAAs/glAgAAAAAIAAAABAMAAJk2MwIAAAAACAAAAAQDAABGazcC
	AAAAACAAAAABBgAA7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAFwBAAAIAAAAAAQA
	AEHD9xRoAS8MGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPYOcGAAAAkAAAAAQEAADhFRUM5N0Ew
	LUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
	AADEAAAAAAAAAAUQAABsAQAAAAAAABAQAACkAQAAAAAAAEAQAACUAQAAAAAAAAIgAABw
	AgAAAAAAAAUgAADgAQAAAAAAABAgAADwAQAAAAAAABEgAAAkAgAAAAAAABIgAAAEAgAA
	AAAAABMgAAAUAgAAAAAAACAgAABQAgAAAAAAADAgAAB8AgAAAAAAAAHAAADEAQAAAAAA
	ABHAAAAgAAAAAAAAABLAAADUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
