<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/kafka-polaris-migration/videos/top.mov</key>
	<data>
	Ym9va3wDAAAAAAQQMAAAAAnomtzk9xB4P5MQq7ivaBxbe26Iq4ge2cKqOPpPk9ADeAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAFwAAAAEBAABrYWZrYS1wb2xhcmlzLW1pZ3JhdGlvbgAGAAAA
	AQEAAHZpZGVvcwAABwAAAAEBAAB0b3AubW92ACAAAAABBgAAEAAAACAAAAA4AAAASAAA
	AFgAAAB4AAAAmAAAAKgAAAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAhiwAAAAAAAAgA
	AAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAAAC9SUCAAAAAAgAAAAE
	AwAAPs92AgAAAAAIAAAABAMAAKROlgIAAAAACAAAAAQDAACgFZwCAAAAACAAAAABBgAA
	4AAAAPAAAAAAAQAAEAEAACABAAAwAQAAQAEAAFABAAAIAAAAAAQAAEHEFMVX544YGAAA
	AAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMD
	AAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
	oCBodAAAAAgAAAAABAAAQcP3ezSAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIzQi1C
	MThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
	AAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAC4AAAAAAAAAAUQ
	AABgAQAAAAAAABAQAACYAQAAAAAAAEAQAACIAQAAAAAAAAIgAABkAgAAAAAAAAUgAADU
	AQAAAAAAABAgAADkAQAAAAAAABEgAAAYAgAAAAAAABIgAAD4AQAAAAAAABMgAAAIAgAA
	AAAAACAgAABEAgAAAAAAADAgAABwAgAAAAAAAAHAAAC4AQAAAAAAABHAAAAgAAAAAAAA
	ABLAAADIAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
