<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-metrics/videos/06 - Visualizing Metrics with Clarity - 20221219.mp4</key>
	<data>
	Ym9va2wDAAAAAAQQMAAAAJP2Tg/D3vfp1PsmrwJ6h1cgB0A+QGrkkdD3+X9PthTfaAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBQAAAABAQAAY291cnNlLWRy
	dWlkLW1ldHJpY3MGAAAAAQEAAHZpZGVvcwAANAAAAAEBAAAwNiAtIFZpc3VhbGl6aW5n
	IE1ldHJpY3Mgd2l0aCBDbGFyaXR5IC0gMjAyMjEyMTkubXA0HAAAAAEGAAAQAAAAIAAA
	ADgAAABIAAAAWAAAAHQAAACEAAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAA
	AAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAJx81BAAAAAAI
	AAAABAMAAJvPNwQAAAAACAAAAAQDAAD4ZcsEAAAAABwAAAABBgAA5AAAAPQAAAAEAQAA
	FAEAACQBAAA0AQAARAEAAAgAAAAABAAAQcSoZQw8TyoYAAAAAQIAAAEAAAAAAAAADwAA
	AAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZp
	bGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABB
	xFJuawAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVF
	GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
	AMwAAAD+////AQAAAAAAAAAQAAAABBAAAMAAAAAAAAAABRAAAFQBAAAAAAAAEBAAAIgB
	AAAAAAAAQBAAAHgBAAAAAAAAAiAAAFQCAAAAAAAABSAAAMQBAAAAAAAAECAAANQBAAAA
	AAAAESAAAAgCAAAAAAAAEiAAAOgBAAAAAAAAEyAAAPgBAAAAAAAAICAAADQCAAAAAAAA
	MCAAAGACAAAAAAAAAcAAAKgBAAAAAAAAEcAAACAAAAAAAAAAEsAAALgBAAAAAAAAENAA
	AAQAAAAAAAAA
	</data>
</dict>
</plist>
