<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msqe-basics/msqe-quickstart/01-install-msqe/videos/01 - MSQE Installation and Configuration Script.mp4</key>
	<data>
	Ym9va8wDAAAAAAQQMAAAAKVekC4MFXPlL+JcyaQCHOpsiY4zfzUG7mmcjYMSismoyAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBIAAAABAQAAY291cnNlLW1z
	cWUtYmFzaWNzAAAPAAAAAQEAAG1zcWUtcXVpY2tzdGFydAAPAAAAAQEAADAxLWluc3Rh
	bGwtbXNxZQAGAAAAAQEAAHZpZGVvcwAAMwAAAAEBAAAwMSAtIE1TUUUgSW5zdGFsbGF0
	aW9uIGFuZCBDb25maWd1cmF0aW9uIFNjcmlwdC5tcDQAJAAAAAEGAAAQAAAAIAAAADgA
	AABIAAAAWAAAAHQAAACMAAAApAAAALQAAAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAh
	iwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAABulNoC
	AAAAAAgAAAAEAwAAvpTaAgAAAAAIAAAABAMAAMGU2gIAAAAACAAAAAQDAADeMBcDAAAA
	AAgAAAAEAwAA5tUXAwAAAAAkAAAAAQYAABwBAAAsAQAAPAEAAEwBAABcAQAAbAEAAHwB
	AACMAQAAnAEAAAgAAAAABAAAQcQ6SNC06s0YAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAA
	AAAAAAAAAAgAAAAEAwAABwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8v
	DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBxBTfxAAA
	ACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAEC
	AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+
	////AQAAAAAAAAAQAAAABBAAAPAAAAAAAAAABRAAAKwBAAAAAAAAEBAAAOgBAAAAAAAA
	QBAAANgBAAAAAAAAAiAAALQCAAAAAAAABSAAACQCAAAAAAAAECAAADQCAAAAAAAAESAA
	AGgCAAAAAAAAEiAAAEgCAAAAAAAAEyAAAFgCAAAAAAAAICAAAJQCAAAAAAAAMCAAAMAC
	AAAAAAAAAcAAAAgCAAAAAAAAEcAAACAAAAAAAAAAEsAAABgCAAAAAAAAENAAAAQAAAAA
	AAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msqe-basics/msqe-quickstart/02-simple-ingestion/videos/02 - MSQE Simple Ingestion using SQL Script.mp4</key>
	<data>
	Ym9va8wDAAAAAAQQMAAAAPTZb1OLQrQM6F6o8ooO/anW1oD+klCD+eaYeTjjsx0DyAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBIAAAABAQAAY291cnNlLW1z
	cWUtYmFzaWNzAAAPAAAAAQEAAG1zcWUtcXVpY2tzdGFydAATAAAAAQEAADAyLXNpbXBs
	ZS1pbmdlc3Rpb24ABgAAAAEBAAB2aWRlb3MAAC8AAAABAQAAMDIgLSBNU1FFIFNpbXBs
	ZSBJbmdlc3Rpb24gdXNpbmcgU1FMIFNjcmlwdC5tcDQAJAAAAAEGAAAQAAAAIAAAADgA
	AABIAAAAWAAAAHQAAACMAAAAqAAAALgAAAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAh
	iwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAABulNoC
	AAAAAAgAAAAEAwAAvpTaAgAAAAAIAAAABAMAADcJ6wIAAAAACAAAAAQDAADzMBcDAAAA
	AAgAAAAEAwAAJTAXAwAAAAAkAAAAAQYAABwBAAAsAQAAPAEAAEwBAABcAQAAbAEAAHwB
	AACMAQAAnAEAAAgAAAAABAAAQcQ6SNPIOhcYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAA
	AAAAAAAAAAgAAAAEAwAABwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8v
	DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBxBTfxAAA
	ACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAEC
	AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+
	////AQAAAAAAAAAQAAAABBAAAPAAAAAAAAAABRAAAKwBAAAAAAAAEBAAAOgBAAAAAAAA
	QBAAANgBAAAAAAAAAiAAALQCAAAAAAAABSAAACQCAAAAAAAAECAAADQCAAAAAAAAESAA
	AGgCAAAAAAAAEiAAAEgCAAAAAAAAEyAAAFgCAAAAAAAAICAAAJQCAAAAAAAAMCAAAMAC
	AAAAAAAAAcAAAAgCAAAAAAAAEcAAACAAAAAAAAAAEsAAABgCAAAAAAAAENAAAAQAAAAA
	AAAA
	</data>
</dict>
</plist>
