<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/05 - Tactics and Tools - Case Study 2.mp4</key>
	<data>
	Ym9va5ADAAAAAAQQMAAAAMz+vv6GbzxHXQENpGCQvrW+t4d0fOkr/jGYVq0xCn+AjAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAApAAAA
	AQEAADA1IC0gVGFjdGljcyBhbmQgVG9vbHMgLSBDYXNlIFN0dWR5IDIubXA0AAAAIAAA
	AAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHQAAACIAAAAmAAAAAgAAAAEAwAAMWQAAAAA
	AAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAI
	AAAABAMAAJ+/uQMAAAAACAAAAAQDAADlA7oDAAAAAAgAAAAEAwAA+arDAwAAAAAIAAAA
	BAMAACK2/AMAAAAAIAAAAAEGAAD0AAAABAEAABQBAAAkAQAANAEAAEQBAABUAQAAZAEA
	AAgAAAAABAAAQcR6Ytvghu8YAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBxFJuawAAACQAAAABAQAA
	OEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAA
	AAAQAAAABBAAAMwAAAAAAAAABRAAAHQBAAAAAAAAEBAAAKwBAAAAAAAAQBAAAJwBAAAA
	AAAAAiAAAHgCAAAAAAAABSAAAOgBAAAAAAAAECAAAPgBAAAAAAAAESAAACwCAAAAAAAA
	EiAAAAwCAAAAAAAAEyAAABwCAAAAAAAAICAAAFgCAAAAAAAAMCAAAIQCAAAAAAAAAcAA
	AMwBAAAAAAAAEcAAACAAAAAAAAAAEsAAANwBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/06 - Tactics and Tools - Case Study 3.mp4</key>
	<data>
	Ym9va5ADAAAAAAQQMAAAAEIaRA6l/ygB+1xb3unH2WZuqMxpIE9sh7qf36PaE8dQjAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAApAAAA
	AQEAADA2IC0gVGFjdGljcyBhbmQgVG9vbHMgLSBDYXNlIFN0dWR5IDMubXA0AAAAIAAA
	AAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHQAAACIAAAAmAAAAAgAAAAEAwAAMWQAAAAA
	AAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAI
	AAAABAMAAJ+/uQMAAAAACAAAAAQDAADlA7oDAAAAAAgAAAAEAwAA+arDAwAAAAAIAAAA
	BAMAACu2/AMAAAAAIAAAAAEGAAD0AAAABAEAABQBAAAkAQAANAEAAEQBAABUAQAAZAEA
	AAgAAAAABAAAQcR6Yt6nptAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgA
	AAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
	YWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBxFJuawAAACQAAAABAQAA
	OEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAA
	AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAA
	AAAQAAAABBAAAMwAAAAAAAAABRAAAHQBAAAAAAAAEBAAAKwBAAAAAAAAQBAAAJwBAAAA
	AAAAAiAAAHgCAAAAAAAABSAAAOgBAAAAAAAAECAAAPgBAAAAAAAAESAAACwCAAAAAAAA
	EiAAAAwCAAAAAAAAEyAAABwCAAAAAAAAICAAAFgCAAAAAAAAMCAAAIQCAAAAAAAAAcAA
	AMwBAAAAAAAAEcAAACAAAAAAAAAAEsAAANwBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/ScrollingLog.mov</key>
	<data>
	Ym9va3QDAAAAAAQQMAAAAPZ9cLezT5pusGnYTnP6vxRue1RXjvE6pxpmOuilvwhgcAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAAQAAAA
	AQEAAFNjcm9sbGluZ0xvZy5tb3YgAAAAAQYAABAAAAAgAAAAOAAAAEgAAABYAAAAdAAA
	AIgAAACYAAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALG
	EAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAn7+5AwAAAAAIAAAABAMAAOUDugMA
	AAAACAAAAAQDAAD5qsMDAAAAAAgAAAAEAwAAKGv/AwAAAAAgAAAAAQYAANgAAADoAAAA
	+AAAAAgBAAAYAQAAKAEAADgBAABIAQAACAAAAAAEAABBxHryQHwc3BgAAAABAgAAAQAA
	AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgA
	AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAI
	AAAAAAQAAEHEUm5rAAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUz
	NjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
	AAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAsAAAAAAAAAAFEAAAWAEAAAAA
	AAAQEAAAkAEAAAAAAABAEAAAgAEAAAAAAAACIAAAXAIAAAAAAAAFIAAAzAEAAAAAAAAQ
	IAAA3AEAAAAAAAARIAAAEAIAAAAAAAASIAAA8AEAAAAAAAATIAAAAAIAAAAAAAAgIAAA
	PAIAAAAAAAAwIAAAaAIAAAAAAAABwAAAsAEAAAAAAAARwAAAIAAAAAAAAAASwAAAwAEA
	AAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-logs/druid-logs/videos/ScrollingLog.mp4</key>
	<data>
	Ym9va3QDAAAAAAQQMAAAABIWT3g9Mrgj2CDXKc4OJpwRTEfIEOsl0/E3LmQBVe6gcAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLWRy
	dWlkLWxvZ3MAAAAKAAAAAQEAAGRydWlkLWxvZ3MAAAYAAAABAQAAdmlkZW9zAAAQAAAA
	AQEAAFNjcm9sbGluZ0xvZy5tcDQgAAAAAQYAABAAAAAgAAAAOAAAAEgAAABYAAAAdAAA
	AIgAAACYAAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALG
	EAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAn7+5AwAAAAAIAAAABAMAAOUDugMA
	AAAACAAAAAQDAAD5qsMDAAAAAAgAAAAEAwAAcHr/AwAAAAAgAAAAAQYAANgAAADoAAAA
	+AAAAAgBAAAYAQAAKAEAADgBAABIAQAACAAAAAAEAABBxHrzCeibuRgAAAABAgAAAQAA
	AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAgA
	AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAI
	AAAAAAQAAEHEUm5rAAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUz
	NjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
	AAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAsAAAAAAAAAAFEAAAWAEAAAAA
	AAAQEAAAkAEAAAAAAABAEAAAgAEAAAAAAAACIAAAXAIAAAAAAAAFIAAAzAEAAAAAAAAQ
	IAAA3AEAAAAAAAARIAAAEAIAAAAAAAASIAAA8AEAAAAAAAATIAAAAAIAAAAAAAAgIAAA
	PAIAAAAAAAAwIAAAaAIAAAAAAAABwAAAsAEAAAAAAAARwAAAIAAAAAAAAAASwAAAwAEA
	AAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
