<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/04-msq-apis/videos/04 - SQL-based Ingestion APIs Script.mp4</key>
	<data>
	Ym9va7wDAAAAAAQQMAAAAJ3f3iwIhwXzadCxzRJBSeWpnsR4zk5/cZ94Etf34dHquAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAALAAAAAQEAADA0LW1zcS1h
	cGlzAAYAAAABAQAAdmlkZW9zAAAoAAAAAQEAADA0IC0gU1FMLWJhc2VkIEluZ2VzdGlv
	biBBUElzIFNjcmlwdC5tcDQkAAAAAQYAABAAAAAgAAAAOAAAAEgAAABYAAAAdAAAAIwA
	AACgAAAAsAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAAC
	xhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAG6U2gIAAAAACAAAAAQDAAC+lNoC
	AAAAAAgAAAAEAwAAW5DsAgAAAAAIAAAABAMAAAkxFwMAAAAACAAAAAQDAADyxEEDAAAA
	ACQAAAABBgAADAEAABwBAAAsAQAAPAEAAEwBAABcAQAAbAEAAHwBAACMAQAACAAAAAAE
	AABBxETcCrkUQxgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAH
	AAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHEFN/EAAAAJAAAAAEBAAA4RUVDOTdB
	MC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEA
	AAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAE
	EAAA4AAAAAAAAAAFEAAAnAEAAAAAAAAQEAAA2AEAAAAAAABAEAAAyAEAAAAAAAACIAAA
	pAIAAAAAAAAFIAAAFAIAAAAAAAAQIAAAJAIAAAAAAAARIAAAWAIAAAAAAAASIAAAOAIA
	AAAAAAATIAAASAIAAAAAAAAgIAAAhAIAAAAAAAAwIAAAsAIAAAAAAAABwAAA+AEAAAAA
	AAARwAAAIAAAAAAAAAASwAAACAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
