<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/03-tools-ingestion/videos/02.5-TalkingHead.mp4</key>
	<data>
	Ym9va7ADAAAAAAQQMAAAACOwKiNyFiREf3/jTPxa0rI6CJFP6/OB80/5zfExvHLqrAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAASAAAAAQEAADAzLXRvb2xz
	LWluZ2VzdGlvbgAABgAAAAEBAAB2aWRlb3MAABQAAAABAQAAMDIuNS1UYWxraW5nSGVh
	ZC5tcDQkAAAAAQYAABAAAAAgAAAAOAAAAEgAAABYAAAAdAAAAIwAAACoAAAAuAAAAAgA
	AAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAE
	AwAAxUYUAAAAAAAIAAAABAMAAG6U2gIAAAAACAAAAAQDAAC+lNoCAAAAAAgAAAAEAwAA
	ZNBPAwAAAAAIAAAABAMAAGfQTwMAAAAACAAAAAQDAAAfflEDAAAAACQAAAABBgAAAAEA
	ABABAAAgAQAAMAEAAEABAABQAQAAYAEAAHABAACAAQAACAAAAAAEAABBxEjH7FLDcxgA
	AAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAHAAAAAAAAAAQAAAAD
	AwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
	AKAgaHQAAAAIAAAAAAQAAEHEFN/EAAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRCM0It
	QjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEA
	AAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAA1AAAAAAAAAAF
	EAAAkAEAAAAAAAAQEAAAzAEAAAAAAABAEAAAvAEAAAAAAAACIAAAmAIAAAAAAAAFIAAA
	CAIAAAAAAAAQIAAAGAIAAAAAAAARIAAATAIAAAAAAAASIAAALAIAAAAAAAATIAAAPAIA
	AAAAAAAgIAAAeAIAAAAAAAAwIAAApAIAAAAAAAABwAAA7AEAAAAAAAARwAAAIAAAAAAA
	AAASwAAA/AEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/03-tools-ingestion/videos/Screen Recording 2022-07-27 at 11.00.40 AM.mov</key>
	<data>
	Ym9va8wDAAAAAAQQMAAAAHlqbmbIJTNz4FUxw21RsHwK3bhHfHI950S5ZyhioQWYyAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAASAAAAAQEAADAzLXRvb2xz
	LWluZ2VzdGlvbgAABgAAAAEBAAB2aWRlb3MAAC4AAAABAQAAU2NyZWVuIFJlY29yZGlu
	ZyAyMDIyLTA3LTI3IGF0IDExLjAwLjQwIEFNLm1vdgAAJAAAAAEGAAAQAAAAIAAAADgA
	AABIAAAAWAAAAHQAAACMAAAAqAAAALgAAAAIAAAABAMAADFkAAAAAAAACAAAAAQDAAAh
	iwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAABulNoC
	AAAAAAgAAAAEAwAAvpTaAgAAAAAIAAAABAMAAGTQTwMAAAAACAAAAAQDAABn0E8DAAAA
	AAgAAAAEAwAAPcBRAwAAAAAkAAAAAQYAABwBAAAsAQAAPAEAAEwBAABcAQAAbAEAAHwB
	AACMAQAAnAEAAAgAAAAABAAAQcRI08aHqN0YAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAA
	AAAAAAAAAAgAAAAEAwAABwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8v
	DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBxBTfxAAA
	ACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAEC
	AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+
	////AQAAAAAAAAAQAAAABBAAAPAAAAAAAAAABRAAAKwBAAAAAAAAEBAAAOgBAAAAAAAA
	QBAAANgBAAAAAAAAAiAAALQCAAAAAAAABSAAACQCAAAAAAAAECAAADQCAAAAAAAAESAA
	AGgCAAAAAAAAEiAAAEgCAAAAAAAAEyAAAFgCAAAAAAAAICAAAJQCAAAAAAAAMCAAAMAC
	AAAAAAAAAcAAAAgCAAAAAAAAEcAAACAAAAAAAAAAEsAAABgCAAAAAAAAENAAAAQAAAAA
	AAAA
	</data>
</dict>
</plist>
