<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-metrics/videos/03 - Visualizing Druid Metrics with Grafana - 20221219.mp4</key>
	<data>
	Ym9va3QDAAAAAAQQMAAAAKGkwWhmxBuo0ORGNR5tHhaq53y9fMDjhA3lslvFBWGmcAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBQAAAABAQAAY291cnNlLWRy
	dWlkLW1ldHJpY3MGAAAAAQEAAHZpZGVvcwAAOgAAAAEBAAAwMyAtIFZpc3VhbGl6aW5n
	IERydWlkIE1ldHJpY3Mgd2l0aCBHcmFmYW5hIC0gMjAyMjEyMTkubXA0AAAcAAAAAQYA
	ABAAAAAgAAAAOAAAAEgAAABYAAAAdAAAAIQAAAAIAAAABAMAADFkAAAAAAAACAAAAAQD
	AAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAAAAAACAAAAAQDAAAn
	HzUEAAAAAAgAAAAEAwAAm883BAAAAAAIAAAABAMAADhlywQAAAAAHAAAAAEGAADsAAAA
	/AAAAAwBAAAcAQAALAEAADwBAABMAQAACAAAAAAEAABBxKhlANTaIxgAAAABAgAAAQAA
	AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA9QEAAAgA
	AAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAI
	AAAAAAQAAEHEUm5rAAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUz
	NjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
	AAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAAyAAAAAAAAAAFEAAAXAEAAAAA
	AAAQEAAAkAEAAAAAAABAEAAAgAEAAAAAAAACIAAAXAIAAAAAAAAFIAAAzAEAAAAAAAAQ
	IAAA3AEAAAAAAAARIAAAEAIAAAAAAAASIAAA8AEAAAAAAAATIAAAAAIAAAAAAAAgIAAA
	PAIAAAAAAAAwIAAAaAIAAAAAAAABwAAAsAEAAAAAAAARwAAAIAAAAAAAAAASwAAAwAEA
	AAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
