<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/videos/Intro.mp4</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAAPdNEmvR9uxcrCpT/SuofAO5i/X53AfBgv7lbwbdHRnUSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAAYAAAABAQAAdmlkZW9zAAAJAAAAAQEAAEludHJvLm1w
	NAAAABwAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAAjAAAAAgAAAAEAwAAMWQA
	AAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAA
	AAAIAAAABAMAAD01FAEAAAAACAAAAAQDAACgW7oBAAAAAAgAAAAEAwAAmr6+AQAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHDZgxQWonY
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcOOkO8AAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIz
	Qi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACgAAAAAAAA
	AAUQAAA0AQAAAAAAABAQAABoAQAAAAAAAEAQAABYAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACkAQAAAAAAABAgAAC0AQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACIAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACYAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/videos/Screen Recording Druid Docs.mov</key>
	<data>
	Ym9va2ADAAAAAAQQMAAAAB+YQ+87Rzj/04+kk6vxeRHLjjir9Bt0c9ud9B5JO9hVXAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAAYAAAABAQAAdmlkZW9zAAAfAAAAAQEAAFNjcmVlbiBS
	ZWNvcmRpbmcgRHJ1aWQgRG9jcy5tb3YAHAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAA
	AHwAAACMAAAACAAAAAQDAAAxZAAAAAAAAAgAAAAEAwAAIYsAAAAAAAAIAAAABAMAAALG
	EAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAEAwAAPTUUAQAAAAAIAAAABAMAAKBbugEA
	AAAACAAAAAQDAAABu74BAAAAABwAAAABBgAA2AAAAOgAAAD4AAAACAEAABgBAAAoAQAA
	OAEAAAgAAAAABAAAQcPQUED3wNoYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAA
	AAgAAAAEAwAABQAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEB
	AABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw46Q7wAAACQAAAAB
	AQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAAAAECAACBAAAA
	AQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAA
	AAAAAAAQAAAABBAAALQAAAAAAAAABRAAAEgBAAAAAAAAEBAAAHwBAAAAAAAAQBAAAGwB
	AAAAAAAAAiAAAEgCAAAAAAAABSAAALgBAAAAAAAAECAAAMgBAAAAAAAAESAAAPwBAAAA
	AAAAEiAAANwBAAAAAAAAEyAAAOwBAAAAAAAAICAAACgCAAAAAAAAMCAAAFQCAAAAAAAA
	AcAAAJwBAAAAAAAAEcAAACAAAAAAAAAAEsAAAKwBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/videos/talkingHead.mp4</key>
	<data>
	Ym9va1ADAAAAAAQQMAAAAA0c1HGVOiUHNv4NtlOUHueF4uQtmuCiN2V9HM9a6nbiTAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAAYAAAABAQAAdmlkZW9zAAAPAAAAAQEAAHRhbGtpbmdI
	ZWFkLm1wNAAcAAAAAQYAABAAAAAgAAAAOAAAAEgAAABYAAAAfAAAAIwAAAAIAAAABAMA
	ADFkAAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVG
	FAAAAAAACAAAAAQDAAA9NRQBAAAAAAgAAAAEAwAAoFu6AQAAAAAIAAAABAMAAMhvugEA
	AAAAHAAAAAEGAADIAAAA2AAAAOgAAAD4AAAACAEAABgBAAAoAQAACAAAAAAEAABBw8+Q
	g5rl7RgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAAFAAAAAAAA
	AAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgA
	AAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHDzfZ3AAAAJAAAAAEBAAA4RUVDOTdBMC1GOEEy
	LTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
	AAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAAAAAEEAAApAAA
	AAAAAAAFEAAAOAEAAAAAAAAQEAAAbAEAAAAAAABAEAAAXAEAAAAAAAACIAAAOAIAAAAA
	AAAFIAAAqAEAAAAAAAAQIAAAuAEAAAAAAAARIAAA7AEAAAAAAAASIAAAzAEAAAAAAAAT
	IAAA3AEAAAAAAAAgIAAAGAIAAAAAAAAwIAAARAIAAAAAAAABwAAAjAEAAAAAAAARwAAA
	IAAAAAAAAAASwAAAnAEAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
