<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-msq-basics/msq-quickstart/02-simple-ingestion/videos/02 - SQL-based Simple Ingestion Script.mp4</key>
	<data>
	Ym9va8gDAAAAAAQQMAAAAFNatAEcYzGxdRi9D2f0iOZhLGW5N8lCbJe8sAgsL3zzxAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBEAAAABAQAAY291cnNlLW1z
	cS1iYXNpY3MAAAAOAAAAAQEAAG1zcS1xdWlja3N0YXJ0AAATAAAAAQEAADAyLXNpbXBs
	ZS1pbmdlc3Rpb24ABgAAAAEBAAB2aWRlb3MAACoAAAABAQAAMDIgLSBTUUwtYmFzZWQg
	U2ltcGxlIEluZ2VzdGlvbiBTY3JpcHQubXA0AAAkAAAAAQYAABAAAAAgAAAAOAAAAEgA
	AABYAAAAdAAAAIwAAACoAAAAuAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAA
	AAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAG6U2gIAAAAA
	CAAAAAQDAAC+lNoCAAAAAAgAAAAEAwAANwnrAgAAAAAIAAAABAMAAPMwFwMAAAAACAAA
	AAQDAAC8xEEDAAAAACQAAAABBgAAGAEAACgBAAA4AQAASAEAAFgBAABoAQAAeAEAAIgB
	AACYAQAACAAAAAAEAABBxETcBQo5axgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAAAAAA
	AAAACAAAAAQDAAAHAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAA
	AQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHEFN/EAAAAJAAA
	AAEBAAA4RUVDOTdBMC1GOEEyLTRCM0ItQjE4QS0yQkUzNjIwNTc1NUUYAAAAAQIAAIEA
	AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7///8B
	AAAAAAAAABAAAAAEEAAA7AAAAAAAAAAFEAAAqAEAAAAAAAAQEAAA5AEAAAAAAABAEAAA
	1AEAAAAAAAACIAAAsAIAAAAAAAAFIAAAIAIAAAAAAAAQIAAAMAIAAAAAAAARIAAAZAIA
	AAAAAAASIAAARAIAAAAAAAATIAAAVAIAAAAAAAAgIAAAkAIAAAAAAAAwIAAAvAIAAAAA
	AAABwAAABAIAAAAAAAARwAAAIAAAAAAAAAASwAAAFAIAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
</dict>
</plist>
