<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/videos/00 - Ingestion and Data Modeling Intro Script (1).mp4</key>
	<data>
	Ym9va3gDAAAAAAQQMAAAAKo8JMvOZKWajuaPpmpGTeJGy8JG04si4UHZpol5TlS5dAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAAYAAAABAQAAdmlkZW9zAAA1AAAAAQEAADAwIC0gSW5n
	ZXN0aW9uIGFuZCBEYXRhIE1vZGVsaW5nIEludHJvIFNjcmlwdCAoMSkubXA0AAAAHAAA
	AAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHwAAACMAAAACAAAAAQDAAAxZAAAAAAAAAgA
	AAAEAwAAIYsAAAAAAAAIAAAABAMAAALGEAAAAAAACAAAAAQDAADFRhQAAAAAAAgAAAAE
	AwAAPTUUAQAAAAAIAAAABAMAAKBbugEAAAAACAAAAAQDAABVWroBAAAAABwAAAABBgAA
	8AAAAAABAAAQAQAAIAEAADABAABAAQAAUAEAAAgAAAAABAAAQcPPi9VKUt4YAAAAAQIA
	AAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABQAAAAAAAAAEAAAAAwMAAPUB
	AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0
	AAAACAAAAAAEAABBw46Q7wAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEt
	MkJFMzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAMwAAAAAAAAABRAAAGAB
	AAAAAAAAEBAAAJQBAAAAAAAAQBAAAIQBAAAAAAAAAiAAAGACAAAAAAAABSAAANABAAAA
	AAAAECAAAOABAAAAAAAAESAAABQCAAAAAAAAEiAAAPQBAAAAAAAAEyAAAAQCAAAAAAAA
	ICAAAEACAAAAAAAAMCAAAGwCAAAAAAAAAcAAALQBAAAAAAAAEcAAACAAAAAAAAAAEsAA
	AMQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
