<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-migration/clickhouse-polaris-migration/videos/01 - Extracting Clickhouse Data.mp4</key>
	<data>
	Ym9va5wDAAAAAAQQMAAAAGqtzRQAQhNzjSh56TN+TA5io3n6zkNPvZwIRyhkgnVLmAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBYAAAABAQAAY291cnNlLWRy
	dWlkLW1pZ3JhdGlvbgAAHAAAAAEBAABjbGlja2hvdXNlLXBvbGFyaXMtbWlncmF0aW9u
	BgAAAAEBAAB2aWRlb3MAACMAAAABAQAAMDEgLSBFeHRyYWN0aW5nIENsaWNraG91c2Ug
	RGF0YS5tcDQAIAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHgAAACcAAAArAAAAAgA
	AAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAE
	AwAAxUYUAAAAAAAIAAAABAMAAAL1JQIAAAAACAAAAAQDAACz+CUCAAAAAAgAAAAEAwAA
	mTYzAgAAAAAIAAAABAMAAHw1MwIAAAAAIAAAAAEGAAAAAQAAEAEAACABAAAwAQAAQAEA
	AFABAABgAQAAcAEAAAgAAAAABAAAQcP16HlH/3oYAAAAAQIAAAEAAAAAAAAADwAAAAAA
	AAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
	Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABBw9g5
	wYAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJFMzYyMDU3NTVFGAAA
	AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwA
	AAD+////AQAAAAAAAAAQAAAABBAAANgAAAAAAAAABRAAAIABAAAAAAAAEBAAALgBAAAA
	AAAAQBAAAKgBAAAAAAAAAiAAAIQCAAAAAAAABSAAAPQBAAAAAAAAECAAAAQCAAAAAAAA
	ESAAADgCAAAAAAAAEiAAABgCAAAAAAAAEyAAACgCAAAAAAAAICAAAGQCAAAAAAAAMCAA
	AJACAAAAAAAAAcAAANgBAAAAAAAAEcAAACAAAAAAAAAAEsAAAOgBAAAAAAAAENAAAAQA
	AAAAAAAA
	</data>
</dict>
</plist>
