<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-transform/videos/05 - Transforms Exercise 2 Script.mp4</key>
	<data>
	Ym9va6gDAAAAAAQQMAAAAOKqaf2wjMbn6wPGvLBZcb6tYnrgDXjVTX0zryKxxf/RpAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAB0AAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy10cmFu
	c2Zvcm0AAAAGAAAAAQEAAHZpZGVvcwAAJQAAAAEBAAAwNSAtIFRyYW5zZm9ybXMgRXhl
	cmNpc2UgMiBTY3JpcHQubXA0AAAAIAAAAAEGAAAQAAAAIAAAADgAAABIAAAAWAAAAHwA
	AACkAAAAtAAAAAgAAAAEAwAAMWQAAAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAAC
	xhAAAAAAAAgAAAAEAwAAxUYUAAAAAAAIAAAABAMAAD01FAEAAAAACAAAAAQDAAAjtCoB
	AAAAAAgAAAAEAwAAiI3YAQAAAAAIAAAABAMAAKCN2AEAAAAAIAAAAAEGAAAMAQAAHAEA
	ACwBAAA8AQAATAEAAFwBAABsAQAAfAEAAAgAAAAABAAAQcPaDsmUToQYAAAAAQIAAAEA
	AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABgAAAAAAAAAEAAAAAwMAAPUBAAAI
	AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAA
	CAAAAAAEAABBw832dwAAACQAAAABAQAAOEVFQzk3QTAtRjhBMi00QjNCLUIxOEEtMkJF
	MzYyMDU3NTVFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
	AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAOQAAAAAAAAABRAAAIwBAAAA
	AAAAEBAAAMQBAAAAAAAAQBAAALQBAAAAAAAAAiAAAJACAAAAAAAABSAAAAACAAAAAAAA
	ECAAABACAAAAAAAAESAAAEQCAAAAAAAAEiAAACQCAAAAAAAAEyAAADQCAAAAAAAAICAA
	AHACAAAAAAAAMCAAAJwCAAAAAAAAAcAAAOQBAAAAAAAAEcAAACAAAAAAAAAAEsAAAPQB
	AAAAAAAAENAAAAQAAAAAAAAA
	</data>
</dict>
</plist>
