<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/druid-data-modeling-transform/videos/07 - talkingHead.mp4</key>
	<data>
	Ym9va5QDAAAAAAQQMAAAAEZSCBqUgMYWdke8HkDVXUVvGlfx08u1zntSntrPizXRkAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAB0AAAABAQAAZHJ1aWQtZGF0YS1tb2RlbGluZy10cmFu
	c2Zvcm0AAAAGAAAAAQEAAHZpZGVvcwAAFAAAAAEBAAAwNyAtIHRhbGtpbmdIZWFkLm1w
	NCAAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAApAAAALQAAAAIAAAABAMAADFk
	AAAAAAAACAAAAAQDAAAhiwAAAAAAAAgAAAAEAwAAAsYQAAAAAAAIAAAABAMAAMVGFAAA
	AAAACAAAAAQDAAA9NRQBAAAAAAgAAAAEAwAAI7QqAQAAAAAIAAAABAMAAIiN2AEAAAAA
	CAAAAAQDAABMRtwBAAAAACAAAAABBgAA+AAAAAgBAAAYAQAAKAEAADgBAABIAQAAWAEA
	AGgBAAAIAAAAAAQAAEHD22Y/G/ETGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBodAAAAAgAAAAABAAAQcPN9ncAAAAkAAAA
	AQEAADhFRUM5N0EwLUY4QTItNEIzQi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAA
	AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEA
	AAAAAAAAEAAAAAQQAADQAAAAAAAAAAUQAAB4AQAAAAAAABAQAACwAQAAAAAAAEAQAACg
	AQAAAAAAAAIgAAB8AgAAAAAAAAUgAADsAQAAAAAAABAgAAD8AQAAAAAAABEgAAAwAgAA
	AAAAABIgAAAQAgAAAAAAABMgAAAgAgAAAAAAACAgAABcAgAAAAAAADAgAACIAgAAAAAA
	AAHAAADQAQAAAAAAABHAAAAgAAAAAAAAABLAAADgAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/stevehalladay/Imply/Instruqt/course-druid-data-modeling/videos/Intro.mp4</key>
	<data>
	Ym9va0wDAAAAAAQQMAAAABugulR10+oeq22lRfnZOP5ZRyNmCoNcfvS5M+DGDOSSSAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAANAAAAAQEAAHN0ZXZlaGFsbGFkYXkA
	AAAFAAAAAQEAAEltcGx5AAAACAAAAAEBAABJbnN0cnVxdBoAAAABAQAAY291cnNlLWRy
	dWlkLWRhdGEtbW9kZWxpbmcAAAYAAAABAQAAdmlkZW9zAAAJAAAAAQEAAEludHJvLm1w
	NAAAABwAAAABBgAAEAAAACAAAAA4AAAASAAAAFgAAAB8AAAAjAAAAAgAAAAEAwAAMWQA
	AAAAAAAIAAAABAMAACGLAAAAAAAACAAAAAQDAAACxhAAAAAAAAgAAAAEAwAAxUYUAAAA
	AAAIAAAABAMAAD01FAEAAAAACAAAAAQDAACgW7oBAAAAAAgAAAAEAwAAnDDFAQAAAAAc
	AAAAAQYAAMQAAADUAAAA5AAAAPQAAAAEAQAAFAEAACQBAAAIAAAAAAQAAEHDZgxQWonY
	GAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAUAAAAAAAAABAAA
	AAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQD
	AAAAoCBodAAAAAgAAAAABAAAQcPN9ncAAAAkAAAAAQEAADhFRUM5N0EwLUY4QTItNEIz
	Qi1CMThBLTJCRTM2MjA1NzU1RRgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAACgAAAAAAAA
	AAUQAAA0AQAAAAAAABAQAABoAQAAAAAAAEAQAABYAQAAAAAAAAIgAAA0AgAAAAAAAAUg
	AACkAQAAAAAAABAgAAC0AQAAAAAAABEgAADoAQAAAAAAABIgAADIAQAAAAAAABMgAADY
	AQAAAAAAACAgAAAUAgAAAAAAADAgAABAAgAAAAAAAAHAAACIAQAAAAAAABHAAAAgAAAA
	AAAAABLAAACYAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
